.breadcrumbs {
	&__items {
		display: flex;
		gap: rem(8);
	}
	// .breadcrumbs__item
	&__item {
		display: flex;
		align-items: center;

		gap: rem(8);
		color: #fff;
		&:not(:first-child) {
			&::before {
				@extend %ic, .icon-arrow-short;
				flex-shrink: 0;
			}
		}
	}
	// .breadcrumbs__link
	&__link {
		transition: color 0.3s ease 0s;
		white-space: nowrap;
		font-weight: 600;
		max-width: 100%;
		overflow: hidden;
		line-height: 120%;
		text-overflow: ellipsis;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1.125rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $yellow;
			}
		}
		&.active {
			pointer-events: none;
			@media (min-width: $md5) {
				font-size: 1rem;
			}
			font-weight: 400;
		}
	}
}
