.fancybox__container {
	max-width: 100% !important;
	padding: 0 !important;
}

.fancybox__slide {
	padding-block: 0;
	padding-inline: 0;

	@media (min-width: $md4) {
		padding-block: 2.5rem;
	}
}

.fancybox__backdrop {
	background: rgba($color: #161c24, $alpha: 0.6);
}

.fancybox__content {
	// background: none;
	padding: 0;
	@media (max-width: $md5) {
		min-height: 100vh;
		overflow-y: auto;
	}
}

.fancybox__content :focus:not(.carousel__button.is-close) {
	outline: none;
}

.popup {
	display: none;
	width: 100%;
	background: $white;
	max-width: 100%;
	padding: 1rem;
	@media (min-width: $md5) {
		padding: 1.5rem;
		min-height: auto;
		border-radius: 0.5rem;
		max-width: 21.875rem;
	}
	// .popup__header
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: rem(1) solid $lightGray;
		padding-bottom: 0.25rem;
		gap: 0.25rem;
	}
	&__header-search {
		flex: 1 1 auto;
		padding: 0.6rem 0;
		font-size: 1rem;
		width: 100%;
		text-overflow: ellipsis;
		font-weight: 600;
		&::placeholder {
			color: $lightBlue;
			opacity: 1;
		}
	}
	// .popup__title
	&__title {
	}
	// .popup__close
	&__close {
		margin-left: auto;
		flex-shrink: 0;
	}
	// .popup__subtitle
	&__subtitle {
		margin-top: 1.25rem;
		font-size: 0.8125rem;
		color: $darkBlue;
	}
	// .popup__form
	&__form {
		margin-top: 1.25rem;
		// flex: 1 1 auto;
		@media (max-width: $md5) {
			gap: 1.25rem;
			.form__btn {
				margin-top: auto;
			}
		}
	}
	&__close {
		background: none;
		width: 1.5rem;
		height: 1.5rem;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: color 0.3s ease 0s;
		&::before {
			@extend %ic, .icon-close;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $yellow;
			}
		}
	}
	// .popup__list
	&__list {
		margin-top: 1.25rem;
	}
	// .popup__list-item
	&__list-item {
		color: $darkBlue;
		&:not(:last-child) {
			margin-bottom: 0.62rem;
		}
	}
	// .popup__list-caption
	&__list-caption {
		font-size: 0.75rem;
		font-weight: 600;
	}
	// .popup__list-text
	&__list-text {
		margin-top: 0.31rem;
		font-size: 0.75rem;
	}
}
