.fancybox__container {
	max-width: 100% !important;
	padding: 0 !important;
}

.fancybox__slide {
	padding-block: 0;
	padding-inline: 0;
}

.fancybox__backdrop {
	background: rgba($color: #161c24, $alpha: 0.6);
}

.fancybox__content {
	// background: none;
	padding: 0;
	@media (max-width: $md5) {
		min-height: 100vh;
		overflow-y: auto;
	}
}

.fancybox__content :focus:not(.carousel__button.is-close) {
	outline: none;
}

.popup {
	display: none;
	width: 100%;
	background: $white;
	max-width: 100%;
	padding: 1rem;
	@media (min-width: $md5) {
		padding: 1.5rem;
		min-height: auto;
		border-radius: 0.5rem;
		max-width: 21.875rem;
	}
	&.popup_search {
		background: transparent;
		padding-inline: 0;
		padding-block: 0;
		@media (min-width: $md4) {
			padding-block: rem(24);
		}
	}
	&.popup_full-width {
		max-width: 100%;
		border-radius: 0;
	}
	&.popup_md {
		max-width: rem(400);
	}
	&.popup_lg {
		max-width: rem(500);
	}
	&.popup_xl {
		max-width: rem(600);
	}
	&.popup_xxl {
		max-width: rem(823);
	}
	// .popup__header
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: rem(1) solid $lightGray;
		gap: 0.25rem;
		margin: -1rem -1rem 0 -1rem;
		padding: 1rem 1.25rem;
		@media (min-width: $md5) {
			padding-bottom: 0.25rem;
		}
	}
	&__header-search {
		flex: 1 1 auto;
		padding: 0.6rem 0;
		font-size: 1rem;
		width: 100%;
		text-overflow: ellipsis;
		font-weight: 600;
		&::placeholder {
			color: $lightBlue;
			opacity: 1;
		}
	}
	// .popup__title
	&__title {
	}
	// .popup__close
	&__close {
		margin-left: auto;
		flex-shrink: 0;
	}
	// .popup__download
	&__download {
		margin-top: rem(20);
		margin-right: auto;
		&.btn.btn-primary-outline {
			color: $darkBlue;
		}
	}
	// .popup__subtitle
	&__subtitle {
		margin-top: 1.25rem;
		font-size: 0.8125rem;
		color: $darkBlue;
	}
	// .popup__status
	&__status {
		margin-top: 1.25rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		& + .popup__subtitle {
			font-size: 0.875rem;
		}
	}
	// .popup__status-icon
	&__status-icon {
	}
	// .popup__status-text
	&__status-text {
		margin-top: 1.25rem;
		color: $darkBlue;
		font-size: 1rem;
		font-weight: 600;
	}
	// .popup__form
	&__form {
		margin-top: 1.25rem;
		position: relative;
		@media (max-width: $md5) {
			gap: 1.25rem;
			.form__btn {
				margin-top: auto;
			}
			.form__field {
				margin-top: auto;
			}
		}
	}

	&__close {
		background: none;
		width: 1.5rem;
		height: 1.5rem;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: color 0.3s ease 0s;
		&::before {
			@extend %ic, .icon-close;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $yellow;
			}
		}
	}
	// .popup__list
	&__list {
		margin-top: 1.25rem;
	}
	// .popup__list-item
	&__list-item {
		color: $darkBlue;
		&:not(:last-child) {
			margin-bottom: 0.62rem;
		}
	}
	// .popup__list-caption
	&__list-caption {
		font-size: 0.75rem;
		font-weight: 600;
	}
	// .popup__list-text
	&__list-text {
		margin-top: 0.31rem;
		font-size: 0.75rem;
	}
	// .popup__block
	&__block {
		margin-top: rem(20);
	}
	// .popup__manager
	&__manager {
		margin-top: 0.63rem;
		border-radius: 0.3125rem;
		background: $lightBg;
		color: $darkBlue;
		padding: 1.25rem;
	}
	// .popup__manager-name
	&__manager-name {
		font-size: 0.75rem;
		font-weight: 600;
		display: flex;
		flex-wrap: wrap;
		gap: 0.62rem;
		row-gap: 0.25rem;
	}
	// .popup__manager-position
	&__manager-position {
		color: #94a3b8;
		font-weight: 400;
	}
	// .popup__manager-row
	&__manager-row {
		margin-top: 0.62rem;
		display: grid;
		gap: 1rem;
		@media (min-width: $md5) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	// .popup__manager-column
	&__manager-column {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	// .popup__manager-caption
	&__manager-caption {
		font-size: 0.75rem;
		font-weight: 600;
	}
	// .popup__manager-info
	&__manager-info {
		margin-top: 0.31rem;
		display: flex;
		align-items: center;
		font-size: 0.75rem;
		gap: rem(10);
	}
	// .popup__manager-contact
	&__manager-contact {
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .popup__info
	&__info {
		margin-top: 0.63rem;
		border-radius: 0.3125rem;
		background: $lightBg;
		color: $darkBlue;
		padding: 1.25rem;
	}
	// .popup__info-list
	&__info-list {
		font-size: 0.75rem;
	}
	// .popup__info-item
	&__info-item {
		display: flex;
		flex-direction: column;
		gap: 0.31rem;
		@media (min-width: $md5) {
			flex-direction: row;
			gap: 0.62rem;
		}
		&:not(:last-child) {
			margin-bottom: 0.62rem;
			@media (min-width: $md5) {
				margin-bottom: 0.31rem;
			}
		}
		& a {
			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	// .popup__info-download
	&__info-download {
		margin-top: 0.63rem;
		display: inline-flex;
		align-items: center;
		gap: 0.62rem;
		&::before {
			font-size: 1rem;
			color: #94a3b8;
		}
		& span {
			text-decoration: underline;
			color: $blue;
			font-size: 0.75rem;
		}
		@media (any-hover: hover) {
			&:hover {
				& span {
					text-decoration: none;
				}
			}
		}
	}
	// .popup__product
	&__product {
		padding: rem(30) 0;
		display: flex;
		flex-direction: column;
	}
	// .ppopup__product-header
	&__product-header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 0.5rem;
		flex-direction: column;
		gap: 0.5rem;
		@media (min-width: $md5) {
			flex-direction: row;
		}
	}
	// .popup__product-title
	&__product-title {
	}
	&__product-content {
		margin-top: 1.87rem;
		display: grid;
		@media (min-width: $md4) {
			grid-template-columns: 1fr 1fr;
		}
		@media (min-width: $md3) {
			grid-template-columns: rem(400) 1fr;
		}
		gap: rem(20);
		.product-card__info {
			@media (min-width: $md4) {
				grid-column: span 2;
			}
		}
		.product-card__info-list {
			max-height: 14.0625rem;
		}
		.product-card__slider {
			@media (min-width: $md4) {
				max-width: rem(350);
			}
			@media (min-width: $md3) {
				max-width: rem(400);
			}
		}
		.product-card__slider-main {
			@media (min-width: $md4) {
				height: rem(350);
			}
			@media (min-width: $md3) {
				height: rem(400);
			}
		}
		.product-card__slide {
			@media (min-width: $md4) {
				height: rem(350);
			}
			@media (min-width: $md3) {
				height: rem(400);
			}
		}
		.product-card__slider-video {
			@media (min-width: $md4) {
				width: rem(80);
			}
		}
	}
	&__product-btn {
		margin-top: rem(20);
		width: auto;
		align-self: flex-start;
	}
	// .popup__phone
	&__phone {
		margin-top: rem(20);
		display: flex;
		align-items: center;
		gap: rem(20);
	}
	// .popup__phone-value
	&__phone-value {
		color: $darkBlue;
		font-size: 0.875rem;
		font-weight: 600;
	}
	// .popup__action
	&__action {
		color: $blue;
		font-size: 0.8125rem;
		text-decoration: underline;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}

	// .popup__timer
	&__timer {
		text-align: center;
		margin-top: 0.63rem;
		color: $lightBlue;
		text-align: center;
		font-size: 0.8125rem;
	}
	// .popup__actions
	&__actions {
		margin-top: 1.25rem;
		display: flex;
		justify-content: space-between;
	}
	// .popup__checkboxes
	&__checkboxes {
		margin-top: rem(20);
	}
	// .popup__checkbox
	&__checkbox {
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
	&__btns {
		margin-top: 1.25rem;
		display: grid;
		gap: rem(20);
		grid-template-columns: repeat(2, 1fr);
		.btn.btn-gray-outline {
			color: $darkBlue;
		}
	}
	&__card {
		margin-top: 1.25rem;
	}
}
