.noUi-connect {
	background-color: $yellow;
}

.noUi-target {
	height: rem(4);
	background-color: $grayStroke;
	border: none;
	border-radius: rem(2);
	box-shadow: none;
}

.noUi-handle::after,
.noUi-handle::before {
	display: none;
}

.noUi-handle {
	box-shadow: none;
	border-radius: 50%;
	background: $yellow;
	border: 0;
	outline: 0;
	cursor: grab;
}

.noUi-horizontal .noUi-handle {
	width: 1rem;
	height: 1rem;
}

.noUi-horizontal .noUi-handle-upper {
	right: 0;
}
.noUi-horizontal .noUi-handle-lower {
	right: rem(-16);
}
