$rangeColor: $grayStroke;
$rangeHeight: 0.25rem;
$rangeBorderRadius: 0.125rem;

$thumbColor: $yellow;
$thumbSize: 1rem;
$thumbBorderColor: $yellow;
$thumbBorderSize: rem(1);

$progress: $yellow;

@mixin thumb($size, $color, $border: false) {
	width: $size;
	height: $size;
	background: $thumbColor;
	@if ($border) {
		border: $thumbBorderSize solid $thumbBorderColor;
	}
}

@mixin range($size, $color, $border: false, $radius: false) {
	height: $size;
	background: $rangeColor;
	@if ($border) {
		border: $thumbBorderSize solid $thumbBorderColor;
	}
	@if ($radius) {
		border-radius: $rangeBorderRadius;
	}
}

.range {
	position: relative;
	z-index: 1;

	//.range__input
	&__input {
		-webkit-appearance: none;
		background-color: transparent;
		padding: 0;
		display: block;
		width: 100%;
		opacity: 1;
		height: $rangeHeight;
		&::-webkit-slider-thumb {
			position: relative;
			z-index: 1;
			-webkit-appearance: none;
			border-radius: 50%;
			cursor: pointer;
			@include thumb($thumbSize, $thumbColor, true);
			margin-top: #{-1 * math.div(($thumbSize - $rangeHeight), 2)};
		}
		&::-moz-range-thumb {
			position: relative;
			z-index: 1;
			border-radius: 50%;
			box-sizing: border-box;
			cursor: pointer;
			@include thumb($thumbSize, $thumbColor, true);
		}
		&::-ms-thumb {
			position: relative;
			z-index: 1;
			display: inline-block;
			border-radius: 50%;
			border: 0;
			cursor: pointer;
			@include thumb($thumbSize, $thumbColor, true);
			margin-top: 5px;
		}
		&::-webkit-slider-runnable-track {
			border-color: transparent;
			color: transparent;
			@include range($rangeHeight, $rangeColor, false, true);
			border-radius: $rangeBorderRadius;
		}
		&::-moz-range-track {
			@include range($rangeHeight, $rangeColor, false, true);
			border-radius: $rangeBorderRadius;
		}
		&::-ms-track {
			border-color: transparent;
			color: transparent;
			@include range($rangeHeight, $rangeColor, false, true);
			border-radius: $rangeBorderRadius;
		}
		&::-ms-fill-lower {
			background: $progress;
			border-radius: $rangeBorderRadius;
		}
		&::-moz-range-progress {
			background: $progress;
			height: $rangeHeight;
			border: 0;
			border-radius: $rangeBorderRadius;
		}
		&::-ms-tooltip {
			display: none;
		}
		&:disabled {
			cursor: default;
			pointer-events: none;
		}
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			width: var(--precent, 100%);
			height: calc($rangeHeight + 1px);
			border-radius: $rangeBorderRadius 0 0 $rangeBorderRadius;
			background: $progress;
		}
	}
}
