.search {
	width: 100%;
	@media (min-width: $md4) {
		padding-top: 3.25rem;
	}
	min-height: calc(100vh - rem(48));
	&__container {
		display: flex;
		flex-direction: column;
	}
	&__content {
		background: #fff;
	}
	&__header {
		padding: 1.275rem 0;
		width: 100%;
		display: flex;
		position: relative;
	}
	&__close {
		position: absolute;
		top: 50%;
		right: 1.5rem;
		transform: translateY(-50%);
		color: $lightBlue;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $yellow;
			}
		}
	}
	&__input {
		text-overflow: ellipsis;
		font-size: 1rem;
		font-weight: 600;
		border-bottom: rem(1) solid $grayStroke;
		background: $white;
		color: $dark;
		width: 100%;

		padding: 1.15rem 3.25rem 1.15rem 1.25rem;
		&::placeholder {
			color: $lightBlue;
			opacity: 1;
		}
		&:focus {
			// border-color: $yellowSecond;
		}
	}
	// .search__form-input
	&__form-input {
		text-overflow: ellipsis;
		font-size: 1rem;
		@media (min-width: $md5) {
			font-size: 0.875rem;
		}
		border-radius: 0.3125rem 0 0 0.3125rem;
		border: rem(1) solid $yellow;
		border-right: 0;
		background: $white;
		color: $dark;
		width: 100%;
		padding: 0.66rem 1rem;
		&::placeholder {
			color: $lightBlue;
			opacity: 1;
		}
		&:focus {
			border-color: $yellowSecond;
		}
	}
	// .search__btn
	&__btn {
		border-radius: 0rem 0.3125rem 0.3125rem 0rem;
		background: $yellow;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.44rem 1rem;
		transition: background-color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background: $yellowSecond;
			}
		}
	}
	// .search__body
	&__body {
		margin-top: 1.25rem;
	}
	// .search__block
	&__block {
		&:not(:last-child) {
			margin-bottom: 1.25rem;
		}
	}
	// .search__caption
	&__caption {
		color: $darkBlue;
		font-family: $font-din;
		font-size: 1.3125rem;
		font-weight: 700;
		line-height: 100%;
		margin-bottom: 1.25rem;
	}
	// .search__result
	&__result {
		border-top: rem(1) solid $grayStroke;
	}
	// .search__result-item
	&__result-item {
	}
	// .search__result-link
	&__result-link {
		border-bottom: rem(1) solid $grayStroke;
		font-size: 0.875rem;
		padding: 1.3rem 1.25rem;
		display: block;
		width: 100%;
	}
	// .search__more
	&__more {
		margin-top: 1.25rem;
		color: $lightBlue;
		font-size: 0.8125rem;
		display: flex;
		gap: 0.62rem;
		& span {
			text-decoration: underline;
		}
		&::before {
			width: 1rem;
			height: 1rem;
			order: 1;
			transform: rotate(90deg);
		}
	}

	// .search__left
	&__left {
		margin: 0 auto;
		margin-top: 1.5rem;
		padding-bottom: 1.5rem;
		display: flex;
		align-items: center;
		gap: 2.5rem;
		max-width: 40.5rem;
		flex-direction: column;
		@media (min-width: $md4) {
			flex-direction: row;
		}
		@media (min-width: $md2) {
			max-width: 45.625rem;
		}
	}
	// .search__left-image
	&__left-image {
		flex: 0 0 18.75rem;
	}
	// .search__left-content
	&__left-content {
		padding: 0 1.5rem;
		@media (min-width: $md4) {
			padding: 0;
		}
		.product-card__more {
			max-width: 100%;
		}
	}
	// .search__left-caption
	&__left-caption {
		color: $lightBlue;
		font-size: 1.3125rem;
		font-weight: 600;
	}
	// .search__left-desc
	&__left-desc {
		margin-top: 1.25rem;
		color: $darkBlue;
		font-size: 0.875rem;
		& p {
			&:not(:last-child) {
				margin-bottom: 1.25rem;
			}
		}
	}
	// .search__results
	&__results {
		margin-top: 1.4rem;
		padding-bottom: 1.25rem;
		display: none;
	}
	// .search__results-content
	&__results-content {
		margin-top: 2.5rem;
		.row {
			box-sizing: border-box;
		}
	}
	// .search__queries
	&__queries {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 0.625rem;
	}
	// .search__queries-caption
	&__queries-caption {
		color: $lightBlue;
		font-size: 1.125rem;
		font-weight: 600;
	}
	// .search__queries-item
	&__queries-item {
		position: relative;
		@media (any-hover: hover) {
			&:hover {
				.search__queries-name {
					background: $yellow;
				}
			}
		}
	}
	// .search__queries-name
	&__queries-name {
		border-radius: 0.3125rem;
		background: $lightGray;
		display: flex;
		align-items: center;
		color: $darkBlue;
		font-size: 0.8125rem;
		padding: 0.69rem 2.9rem 0.69rem 1.25rem;
		transition: background-color 0.3s ease 0s;
	}
	// .search__queries-delete
	&__queries-delete {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 1rem;
		color: $lightBlue;
		font-size: 0.675rem;
		width: 1.5rem;
		height: 1.5rem;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $dark;
			}
		}
	}
	// .search__categories
	&__categories {
	}
	// .search__categories
	&__categories-caption {
		margin-bottom: 1.25rem;
	}
	// .search__categories-list
	&__categories-list {
		@media (min-width: $md3) {
			border-right: 1px solid $grayStroke;
			padding-right: rem(20);
		}
	}
	// .search__categories-item
	&__categories-item {
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
	}
	// .search__categories-link
	&__categories-link {
		color: $darkBlue;
		font-size: 0.8125rem;
		line-height: 1.27;
		display: flex;
		align-items: center;
		gap: rem(10);
		&::before {
			width: 1.5rem;
			height: 1.25rem;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.25rem;
			flex-shrink: 0;
			color: $lightBlue;
		}
		@media (any-hover: hover) {
			&:hover {
				.search__categories-name {
					font-weight: 600;
				}
			}
		}
	}
	&__categories-name {
		text-decoration: underline;
		flex: 1 1 auto;
	}
	// .search__categories-quantity
	&__categories-quantity {
		color: $lightBlue;
		font-size: 13px;
		margin-left: auto;
	}
	// .search__filters
	&__filters {
		margin-top: rem(40);
		@media (max-width: $md3) {
			padding-bottom: rem(20);
			border-radius: rem(5);
			border-bottom: rem(1) solid $grayStroke;
		}
	}
	// .search__filters-rows
	&__filters-rows {
		margin-top: rem(20);
		@media (min-width: $md3) {
			border-radius: rem(5);
			padding-right: rem(20);
			border-right: rem(1) solid $grayStroke;
		}
	}
	// .search__filters-btns
	&__filters-btns {
		margin-top: rem(32);

		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.25rem;
		@media (min-width: $md3) {
			grid-template-columns: 1fr;
		}
	}
	// .search__filters-btn
	&__filters-btn {
	}
}
