.custom-select-container {
	@media (min-width: $md5) {
		display: none;
	}
	& ul {
		border-top: rem(1) solid $grayStroke;
		& li {
			padding: 1.06rem 1.25rem;
			border-bottom: rem(1) solid $grayStroke;
			display: flex;
			align-items: center;
			gap: 0.63rem;
			line-height: math.div(20, 16);
			.img-flag {
				width: rem(35);
				height: rem(26);
			}
			&.selected {
				&::before {
					order: 1;
					margin-left: auto;
					font-size: 1.25rem;
					color: $darkBlue;
					@extend %ic, .icon-check;
				}
			}
		}
	}
}
select[data-list-mobile] {
	@media (max-width: $md5) {
		& ~ .select2 {
			display: none;
		}
		& ~ .custom-select-container {
			display: flex;
			flex-direction: column;
		}
	}
}

.select2 {
	&-container {
		&.select2-container--open {
			.select2-selection--single {
				.select2-selection__arrow {
					&::before {
						transform: rotate(270deg);
					}
				}
			}
		}
		&--default {
			.select2-selection--single {
				border-radius: 0.25rem;
				border: rem(1) solid $grayStroke;
				background: transparent;
				.select2-selection__arrow {
					right: 0.75rem;
					top: 50%;
					transform: translateY(-50%);
					width: 1rem;
					height: 1rem;

					display: flex;
					justify-content: center;
					align-items: center;
					&::before {
						@extend %ic, .icon-chevron;
						transform: rotate(90deg);
						transition: transform 0.3s ease 0s;
						color: $lightBlue;
						font-size: 0.875rem;
					}
					& b {
						display: none;
					}
				}
			}
			& .select2-results__option--highlighted {
				&.select2-results__option--selectable {
					background: $yellow;
					color: $darkBlue;
				}
			}
		}
		.select2-selection--single {
			height: rem(40);
			display: flex;
			align-items: center;
			.select2-selection__rendered {
				padding-left: 0.75rem;
				font-size: 0.8125rem;
				color: $darkBlue;
			}
		}
	}
	&-selection {
		// .select2-selection__rendered
		&__rendered {
			padding-left: 0.75rem;
			& span {
				display: flex;
				align-items: center;
				gap: rem(10);
				font-size: 0.8125rem;
				color: $darkBlue;
			}
		}
		// .select2-selection__arrow
		&__arrow {
		}
		&--single {
			border-radius: 0.25rem;
			border: rem(1) solid $grayStroke;
			background: $white;
		}
	}
	&-dropdown {
		border: rem(1) solid $grayStroke;
	}
	&-results {
		// .select2-results__options
		&__options {
		}
		// .select2-results__option
		&__option {
			font-size: 0.8125rem;
			padding: rem(10);
		}
		// .select2-results__option--selectable
		&__option--selectable {
		}
		// .select2-results__option--selected
		&__option--selected {
		}
		// .select2-results__option--highlighted
		&__option--highlighted {
		}
	}
}

.img-flag {
	width: rem(22);
	height: rem(16);
	flex-shrink: 0;
}

// .custom-select-container ul {
// 	list-style-type: none;
// 	padding: 0;
// }

// .custom-select-container li {
// 	cursor: pointer;
// 	padding: 5px;
// 	border: 1px solid #ccc;
// 	margin-top: -1px;
// 	background-color: #fff;
// }

// .custom-select-container li:hover {
// 	background-color: #f1f1f1;
// }
