[data-tooltip] {
	position: relative;
}

.tooltip {
	position: absolute;
	border-radius: 0.3125rem;
	background: #1d1d1d;
	padding: 0.625rem;
	color: $white;
	z-index: 100000000;
	font-size: 0.8125rem;
	max-width: rem(200);
	pointer-events: none;
	user-select: none;
	text-align: center;

	&.open-top {
		&::after {
			border-top: rem(5) solid #1d1d1d;
			bottom: rem(-4);
		}
	}
	&.open-bottom {
		&::after {
			border-bottom: rem(5) solid #1d1d1d;
			top: rem(-4);
		}
	}
	&.gray {
		background: $lightBg;
		color: $darkBlue;
		text-align: left;
		max-width: rem(247);
		&::after {
			border-color: $lightBg;
		}
	}
	&::after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-left: rem(5) solid transparent;
		border-right: rem(5) solid transparent;
		left: calc(50%);
		transform: translateX(-50%);
	}
}
