.blog {
	padding: 1.5rem em(0) 1.56rem em(0);
	@media (min-width: $md4) {
		padding: 0.75rem em(0) 1.56rem em(0);
	}
	@media (min-width: $md2) {
		padding: em(0) em(0) 1.56rem em(0);
	}
	// .blog__container
	&__container {
	}
	// .blog__title
	&__title {
	}

	// .blog__body
	&__body {
		margin-top: 2.5rem;
		@media (min-width: $md4) {
			margin-top: 1.75rem;
		}
		.row {
			flex-direction: column-reverse;
			--gutter-y: 1.75rem;
			@media (min-width: $md3) {
				flex-direction: row;
			}
		}
	}
	// .blog__list
	&__list {
		order: -1;
		@media (min-width: $md3) {
			order: 0;
		}
	}
	// .blog__item
	&__item {
		display: flex;
		flex-direction: column;
		gap: 2.5rem;
		@media (min-width: $md4) {
			flex-direction: row;
		}
		&:not(:last-child) {
			margin-bottom: 2.5rem;
		}
	}
	// .blog__item-images
	&__item-images {
		position: relative;
		min-width: 0;
		max-width: 100%;
		@media (min-width: $md4) {
			flex: 0 0 22rem;
		}
		@media (min-width: $md3) {
			flex: 0 0 20rem;
		}
		@media (min-width: $md1) {
			flex: 0 0 24rem;
		}
		@media (min-width: $md0) {
			flex: 0 0 30rem;
		}
	}
	// .blog__item-image
	&__item-image {
		position: relative;
		display: block;
		& img {
			min-height: 19.75rem;
			border-radius: 0.3125rem;
		}
		&[data-fancybox] {
			&::before {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 5.3125rem;
				height: 5.3125rem;
				font-size: 5.3125rem;
				transform: translate(-50%, -80%);
				transition: color 0.3s ease 0s;
				color: rgba($color: #fff, $alpha: 0.7);
				z-index: 4;
				@extend %ic, .icon-play;
			}
			@media (any-hover: hover) {
				&:hover {
					&::before {
						color: #fff;
					}
				}
			}
		}
	}
	// .blog__item-controls
	&__item-controls {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 1.25rem;
	}
	&__pagination {
		@media (min-width: $md4) {
			display: none;
		}
	}
	// .blog__item-next
	&__item-next {
		color: #fff;
		padding: 0.875rem 1rem;
		font-size: 1.125rem;
		display: none;
		@media (min-width: $md4) {
			display: flex;
		}
		align-items: center;
		transition: background-color 0.3s ease 0s;
		&.swiper-button-disabled {
			opacity: 0;
			visibility: hidden;
		}
		@media (any-hover: hover) {
			&:hover {
				background: $dark;
			}
		}
	}
	// .blog__item-prev
	&__item-prev {
		@extend .blog__item-next;
		&::before {
			transform: rotate(180deg);
		}
	}
	// .blog__item-body
	&__item-body {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	// .blog__item-time
	&__item-time {
		color: $lightBlue;
		font-family: $font-din;
		font-size: 1rem;
		font-weight: 500;
		line-height: 100%;
		display: flex;
		align-items: center;
		gap: 0.62rem;
		&::before {
			font-size: 1.25rem;
		}
	}
	// .blog__item-name
	&__item-name {
		margin-top: 0.3rem;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $yellow;
			}
		}
	}
	// .blog__item-desc
	&__item-desc {
		margin-top: 1.125rem;
		color: $darkBlue;
		text-align: justify;
		font-size: 0.875rem;
	}
	// .blog__item-link
	&__item-link {
		margin-top: 1.45rem;
		display: flex;
		align-items: center;
		color: $darkBlue;
		font-family: $font-din;
		font-size: 1rem;
		font-weight: 500;
		line-height: 100%;
		gap: 1.25rem;
		&::before {
			transition: transform 0.3s ease 0s;
			order: 1;
			font-size: 1.25rem;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					transform: translateX(1rem);
				}
			}
		}
	}
	// .blog__sidebar
	&__sidebar {
		position: sticky;
		top: 1rem;
	}
	// .blog__sidebar-navbar
	&__sidebar-navbar {
		border-radius: 0.3125rem;
		border: rem(1) solid $lightGray;
		background: $lightBg;
		padding: 1.5rem 1.88rem 1.88rem 1.88rem;
	}
	&__sidebar-banner {
		margin-top: 1.25rem;
		align-items: flex-start;
	}
	// .blog__sidebar-caption
	&__sidebar-caption {
		color: $darkBlue;
	}
	// .blog__sidebar-list
	&__sidebar-list {
		margin-top: 1.5rem;
	}
	// .blog__sidebar-item
	&__sidebar-item {
		&:not(:last-child) {
			margin-bottom: 1.3rem;
		}
	}
	// .blog__sidebar-link
	&__sidebar-link {
		display: flex;
		align-items: flex-end;
		gap: 0.62rem;
		color: $darkBlue;
		font-size: 0.8125rem;
		width: 100%;
		&::after {
			content: "";
			flex: 1 1 auto;
			height: rem(1);
			align-self: flex-end;
			margin-bottom: 0.25rem;
			background: linear-gradient(90deg, $lightBlue 50%, transparent 50%) 0 0 / 0.25rem 0.0625rem repeat-x;
		}
		&.active {
			font-size: 0.8125rem;
			font-weight: 600;
			.blog__sidebar-text {
				text-decoration-line: underline;
			}
			.blog__sidebar-quantity {
				font-size: 1rem;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				.blog__sidebar-text {
					text-decoration: underline;
				}
			}
		}
	}
	// .blog__sidebar-text
	&__sidebar-text {
	}
	// .blog__sidebar-quantity
	&__sidebar-quantity {
		color: $lightBlue;
		font-size: 0.875rem;
		font-weight: 600;
		order: 1;
	}
}
