.brands {
	padding: 1.25rem em(0);
	@media (min-width: $md5) {
		padding: 0.87rem em(0) 1.87rem em(0);
	}
	@media (min-width: $md2) {
		padding: em(0) em(0) 1.87rem em(0);
	}
	// .brands__container
	&__container {
	}
	// .brands__title
	&__title {
		@media (max-width: $md5) {
			font-size: 1.9375rem;
		}
	}
	// .brands__locations
	&__locations {
		display: none;
		@media (min-width: $md5) {
			margin-top: 1.88rem;
			border-radius: 0.3125rem;
			border: rem(1) solid $grayStroke;
			padding: 1.25rem 1.875rem;
			grid-template-columns: repeat(auto-fill, minmax(9.03125rem, 1fr));
			display: grid;
			gap: 0.32rem;
			column-gap: 1.75rem;
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(auto-fill, minmax(rem(212), 1fr));
		}
	}

	// .brands__locations-item
	&__locations-item {
	}
	// .brands__locations-optioin
	&__locations-option {
		color: #475569;
		font-size: 0.8125rem;
		transition: color 0.3s ease 0s;
		cursor: pointer;
		@media (any-hover: hover) {
			&:hover {
				font-weight: 600;
				color: $blue;
				text-decoration: underline;
			}
		}
	}
	&__locations-input {
		&:checked {
			& + span {
				font-weight: 600;
				color: $blue;
				text-decoration: underline;
			}
		}
	}
	// .brands__filtres
	&__filtres {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
		@media (min-width: $md1) {
			align-items: center;
			flex-direction: row;
		}
	}
	// .brands__alphabet
	&__alphabet {
		color: $darkBlue;
		display: flex;
		flex-wrap: nowrap;
		gap: 1.275rem;
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: rem(0);
			height: 0;
			display: none;
		}
		scrollbar-width: 0;
		margin-right: -1rem;
		padding-right: 1rem;
		@media (min-width: $md5) {
			margin-right: calc(-1 * (100vw - rem(576)) / 2);
			padding-right: calc((100vw - rem(576)) / 2);
		}
		@media (min-width: $md4) {
			margin-right: calc(-1 * (100vw - rem(728)) / 2);
			padding-right: calc((100vw - rem(728)) / 2);
		}
		@media (min-width: $md3) {
			margin-right: calc(-1 * (100vw - rem(960)) / 2);
			padding-right: calc((100vw - rem(960)) / 2);
		}
		@media (min-width: $md1) {
			padding-right: 0;
			margin-right: 0;
		}
	}
	// .brands__alphabet-item
	&__alphabet-item {
		font-size: 1.3125rem;
	}
	// .brands__actions
	&__actions {
		@media (min-width: $md1) {
			margin-left: auto;
		}
		display: flex;
		gap: 0.62rem;
	}
	// .brands__actions-item
	&__actions-item {
	}
	// .brands__actions-input
	&__actions-input {
		&:checked {
			& + .brands__actions-btn {
				border-color: $yellow;
				color: $dark;
			}
		}
		&[name="alphabet"] {
			& + .brands__actions-btn {
				padding-inline: 0.875rem;
			}
		}
	}
	// .brands__actions-btn
	&__actions-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 2.375rem;
		height: 2.375rem;
		font-size: 1.25rem;
		border-radius: 0.3125rem;
		padding: 0.5rem;
		border: rem(1) solid $lightBlue;
		color: $lightBlue;
		background: $white;
		user-select: none;
		cursor: pointer;
		gap: 0.62rem;
		&.icon-location {
			margin-left: auto;
			font-size: 0.875rem;
			font-weight: 600;
			padding-inline: 1rem;
		}
	}

	// .brands__alphabet
	&__alphabet {
	}
	// .brands__alphabet-item
	&__alphabet-item {
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $yellow;
			}
		}
	}
	// .brands__grid
	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 0.63rem;
		margin-top: 1.25rem;
		@media (min-width: $md5) {
			margin-top: 1.87rem;
			gap: 1.25rem;
			grid-template-columns: repeat(auto-fill, minmax(14.3rem, 1fr));
		}
	}
	// .brands__item
	&__item {
	}
	// .brands__card
	&__card {
		border-radius: 0.3125rem;
		border: rem(1) solid $grayStroke;
		min-height: 100%;
		display: flex;
		flex-direction: column;
		text-align: center;
		padding: 1.25rem 0.19rem;
		@media (min-width: $md5) {
			padding: 1.25rem;
		}
		transition: background-color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background: $grayStroke;
			}
		}
	}
	// .brands__card-production
	&__card-production {
		display: flex;
		align-items: center;
		gap: 0.63rem;
		color: $lightBlue;
		font-size: 0.8125rem;
		margin-bottom: 0.875rem;
		padding: 0 1.06rem;
		@media (min-width: $md5) {
			padding: 0;
		}
		& img {
			border: rem(1) solid $lightGray;
			max-width: rem(30);
		}
	}
	// .brands__card-logo
	&__card-logo {
		margin-top: auto;
		margin-bottom: auto;
		width: 100%;
		height: 10rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .brands__card-name
	&__card-name {
		margin-top: 0.63rem;
		color: $darkBlue;
		font-size: 0.875rem;
		font-weight: 600;
	}
	// .brands__list
	&__list {
		margin-top: 1.88rem;
	}
	// .brands__list-item
	&__list-item {
		&:not(:last-child) {
			margin-bottom: 0.63rem;
			@media (min-width: $md3) {
				margin-bottom: rem(30);
			}
		}
	}
	// .brands__list-letter
	&__list-letter {
		color: $darkBlue;
		font-size: 1.3125rem;
		font-weight: 600;
		margin-bottom: 0.62rem;
	}
	// .brands__names
	&__names {
		display: grid;
		gap: 0.62rem;
		column-gap: 1.25rem;
		grid-template-columns: repeat(2, 1fr);
		@media (min-width: $md5) {
			grid-template-columns: repeat(auto-fill, minmax(10.4rem, 1fr));
		}
		@media (min-width: $md3) {
			grid-template-columns: repeat(auto-fill, minmax(14.3rem, 1fr));
		}
	}
	// .brands__name
	&__name {
		color: $darkBlue;
		font-size: 0.8125rem;
	}
	// .brands__name-link
	&__name-link {
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
