.cart {
	padding: 1.5rem em(0) 1.25rem;
	@media (min-width: $md5) {
		padding: 1rem em(0) 1.25rem;
	}
	@media (min-width: $md3) {
		padding: em(0) em(0) 1.25rem em(0);
	}
	// .cart__container
	&__container {
	}
	// .cart__body
	&__body {
		margin-bottom: 1.5rem;
		& > .row {
			@media (max-width: $md5) {
				--gutter-y: 2.5rem;
			}
		}
	}
	// .cart__title
	&__title {
		display: flex;
		align-items: flex-start;
		gap: 0.63rem;
		@media (max-width: $md5) {
			font-size: 1.5rem;
		}
	}
	// .cart__title-quantity
	&__title-quantity {
		color: $lightBlue;
		font-family: $font-din;
		font-size: 1rem;
		font-weight: 500;
		line-height: 100%;
	}
	// .cart__list
	&__list {
		margin-top: 2.5rem;
		@media (min-width: $md5) {
			margin-top: 1.25rem;
		}
	}
	// .cart__item
	&__item {
		display: flex;
		align-items: center;
		border-radius: 0.3125rem;
		border: rem(1) solid $lightGray;
		padding: 0.625rem 1.25rem;
		&:not(:last-child) {
			margin-bottom: 1.25rem;
		}
		flex-direction: column;
		gap: 1.35rem;
		@media (min-width: $md5) {
			gap: 1.88rem;
			flex-direction: row;
		}
	}
	// .cart__item-image
	&__item-image {
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 12.5rem;
		@media (min-width: $md5) {
			width: 9.375rem;
			height: 9.375rem;
		}
	}
	// .cart__item-body
	&__item-body {
		width: 100%;
		@media (min-width: $md5) {
			flex: 1 1 auto;
			width: auto;
		}
	}
	// .cart__item-main
	&__item-main {
	}
	// .cart__item-name
	&__item-name {
		& small {
			color: $darkBlue;
			font-size: 0.75rem;
			font-weight: 600;
			display: block;
			margin-bottom: 0.63rem;
		}
		font-size: 1rem;
		font-weight: 600;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	// .cart__item-row
	&__item-row {
		margin-top: 0.62rem;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 0.62rem;
	}
	// .cart__item-copy
	&__item-copy {
		border-radius: 1.875rem;
		background: $lightBg;
		padding: 0.3125rem 0.625rem;
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		gap: 0.62rem;
		color: $darkBlue;
		font-size: 0.8125rem;
	}
	// .cart__item-availability
	&__item-availability {
		font-size: 0.75rem;
		font-weight: 600;
		text-transform: uppercase;
	}
	// .cart__item-info
	&__item-info {
		display: flex;
		justify-content: space-between;
		width: 100%;
		@media (min-width: $md5) {
			width: auto;
			flex-direction: column;
			gap: 1rem;
		}
		@media (min-width: $md4) {
			display: contents;
		}
		@media (min-width: $md3) {
			flex-direction: column;
			display: flex;
			gap: 1rem;
		}
		@media (min-width: $md1) {
			display: contents;
		}
	}
	// .cart__item-price
	&__item-price {
		display: flex;
		flex-direction: column;
		@media (min-width: $md5) {
			text-align: center;
		}
	}
	// .cart__item-price-old
	&__item-price-old {
		color: $lightBlue;
		font-size: 0.875rem;
		text-decoration: line-through;
	}
	// .cart__item-price-current
	&__item-price-current {
		margin-top: 0.31rem;
		font-size: 1rem;
		font-weight: 600;
	}
	// .cart__item-quantity
	&__item-quantity {
		border: rem(1) solid #e8e8e8;
		padding: 0.25rem 0.75rem;
		width: 9rem;
		@media (min-width: $md5) {
			width: 7.5rem;
			padding: 0.12rem 0.62rem;
		}
		@media (min-width: $md1) {
			margin: 0 0.75rem;
		}
	}
	// .cart__item-delete
	&__item-delete {
		order: -1;
		margin-left: auto;
		@media (min-width: $md5) {
			order: 0;
		}
		color: $lightBlue;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $red;
			}
		}
	}
	// .cart__sidebar
	&__sidebar {
		border-radius: 0.3125rem;
		border: rem(1) solid v$lightGray;
		background: $lightBg;
		padding: 1.88rem 1.25rem 1.88rem 1.88rem;
		@media (min-width: $md5) {
			padding: 1.88rem;
		}
		@media (min-width: $md2) {
			position: sticky;
			top: 1rem;
		}
	}
	// .cart__sidebar-title
	&__sidebar-title {
	}
	// .cart__sidebar-row
	&__sidebar-row {
		margin-top: 1.88rem;
		@media (min-width: $md3) {
			margin-top: 1.5rem;
		}
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-weight: 600;
		font-size: 1rem;
	}
	// .cart__sidebar-profits
	&__sidebar-profits {
		margin-top: 1.25rem;
	}
	// .cart__sidebar-profit
	&__sidebar-profit {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: $darkBlue;
		font-size: 0.875rem;
		&:not(:last-child) {
			margin-bottom: 0.5rem;
		}
	}
	// .cart__sidebar-profit-name
	&__sidebar-profit-name {
	}
	// .cart__sidebar-profit-value
	&__sidebar-profit-value {
		text-align: right;
		font-weight: 600;
	}
	// .cart__sidebar-property
	&__sidebar-property {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.75rem;
		&.btn-profit-cart {
			cursor: pointer;
		}
		&::before {
			font-size: 0.75rem;
			font-weight: 700;
			order: 1;
			color: #94a3b8;
			transform: rotate(-90deg);
		}
		&.closed {
			&::before {
				transform: rotate(90deg);
			}
		}
	}
	// .cart__sidebar-value
	&__sidebar-value {
		text-align: right;
	}
	// .cart__sidebar-total
	&__sidebar-total {
		margin-top: 1.88rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 1.3125rem;
		font-weight: 600;
		.cart__sidebar-value {
			font-size: 1.5rem;
		}
		& + .cart__sidebar-btn {
			margin-top: 1.25rem;
			width: 100%;
			@media (min-width: $md5) {
				width: auto;
				min-width: rem(211);
			}
			@media (min-width: $md3) {
				width: 100%;
			}
		}
	}
	// .cart__sidebar-downloads
	&__sidebar-downloads {
		margin-top: 1.87rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.25rem;
	}
	// .cart__sidebar-download
	&__sidebar-download {
		margin-bottom: 1rem;
		&.btn {
			padding: 0.62rem;
			color: $darkBlue;
		}
	}
	// .cart__sidebar-btns
	&__sidebar-btns {
		display: grid;
		gap: 1.87rem;
		margin-top: 1rem;
		@media (min-width: $md5) {
			margin-top: 1.88rem;
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md3) {
			margin-top: 1.25rem;
			grid-template-columns: 1fr;
		}
	}
	// .cart__sidebar-btn
	&__sidebar-btn {
		min-height: 4rem;
		font-size: 1rem;
		&.btn-primary-outline {
			color: $dark;
		}
	}
	// .cart__sidebar-hitt
	&__sidebar-hint {
		margin-top: 1.25rem;
		text-align: center;
		@media (min-width: $md5) {
			text-align: left;
			margin-top: 2rem;
		}
		@media (min-width: $md3) {
			margin-top: 1.25rem;
			text-align: center;
		}
		margin-bottom: 2rem;
		color: $darkBlue;
		font-size: 0.875rem;
	}
}

.purchase {
	margin-top: 0.75rem;
	// .purchase__tabs
	&__tabs {
		display: flex;
		gap: 2.5rem;
		border-bottom: rem(1) solid $grayStroke;
	}
	// .purchase__tab
	&__tab {
		font-family: $font-din;
		font-size: 1rem;
		font-weight: 500;
		line-height: 100%;
		padding-bottom: 1rem;
	}
	// .purchase__body
	&__body {
		margin-top: 1.25rem;
	}
	// .purchase__content
	&__content {
		display: none;
		&.active {
			display: block;
		}
	}
	// .purchase__block
	&__block {
		border-radius: 0.625rem;
		border: rem(1) solid $grayStroke;
		background: #fff;
		padding: 1.25rem;
		&:not(:last-child) {
			margin-bottom: 1.25rem;
		}
	}
	// .purchase__block-body
	&__block-body {
		margin-top: 1.25rem;
	}
	// .purchase__caption
	&__caption {
	}
	// .purchase__options
	&__options {
		margin-top: 1.25rem;
	}
	// .purchase__option
	&__option {
	}
	// .purchase__option-input
	&__option-input {
	}
	// .purchase__option-column
	&__option-column {
		display: flex;
		flex-direction: column;
	}
	// .purchase__option-caption
	&__option-caption {
		color: $darkBlue;
		font-size: 0.8125rem;
		font-weight: 600;
	}
	// .purchase__option-text
	&__option-text {
		margin-top: 0.63rem;
		color: $darkBlue;
		font-size: 0.8125rem;
	}
	// .purchase__banks
	&__banks {
		margin-top: 0.63rem;
		display: flex;
		flex-wrap: wrap;
		gap: 0.62rem;
		padding-left: 1.75rem;
	}
	// .purchase__bank
	&__bank {
	}
	// .purchase__bank-input
	&__bank-input {
		&:checked {
			& + .purchase__bank-logo {
				border: rem(1) solid $yellow;
				box-shadow: inset 0 0 0 rem(1) $yellow;
				position: relative;
				&::before {
					@extend %ic, .icon-tick-circle;
					position: absolute;
					color: $yellow;
					top: 0.38rem;
					left: 0.38rem;
				}
			}
		}
	}
	// .purchase__bank-logo
	&__bank-logo {
		width: 12.5rem;
		height: 4.375rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 0.3125rem;
		cursor: pointer;
		border: rem(1) solid $grayStroke;
		& img {
			max-width: 100%;
		}
	}
}
