.catalog {
	padding: 1rem 0;
	@media (min-width: $md2) {
		padding: 0 0 1.56rem 0;
	}

	// .catalog__container
	&__container {
	}
	// .catalog__header
	&__header {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		gap: 1.25rem;
		@media (min-width: $md5) {
			align-items: center;
			flex-direction: row;
		}
	}
	// .catalog__title
	&__title {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 0.63rem;
		& span {
			color: $lightBlue;
			font-size: 1rem;
			font-weight: 500;
			line-height: 100%;
		}
	}
	// .catalog__quantity
	&__quantity {
	}
	// .catalog__actions
	&__actions {
		display: flex;
		gap: 0.62rem;
	}
	// .catalog__actions-item
	&__actions-item {
		display: block;
		flex-shrink: 0;
	}
	// .catalog__actions-input
	&__actions-input {
		&:checked {
			& + .catalog__actions-btn {
				border-color: $yellow;
				color: $dark;
			}
		}
	}
	// .catalog__actions-btn
	&__actions-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 2.375rem;
		height: 2.375rem;
		font-size: 1.25rem;
		border-radius: 0.3125rem;
		padding: 0.5rem;
		border: rem(1) solid $lightBlue;
		color: $lightBlue;
		background: $white;
		cursor: pointer;
		&.icon-filter {
			margin-left: auto;
			@media (min-width: $md5) {
				margin-left: 0;
			}
		}
	}
	// .catalog__grid
	&__grid {
		margin-top: 1.25rem;
		gap: rem(10);

		display: grid;
		grid-template-columns: repeat(2, 1fr);

		@media (min-width: $md3) {
			gap: rem(20);
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: $md1) {
			grid-template-columns: repeat(4, 1fr);
		}
		@media (min-width: $md0) {
			grid-template-columns: repeat(5, 1fr);
		}
	}
	// .catalog__sidebar
	&__sidebar {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		visibility: hidden;
		background: #fff;
		overflow-y: auto;
		padding: em(0) em(0) rem(120) em(0);
		display: flex;
		flex-direction: column;
		scrollbar-gutter: stable;
		&.visible {
			opacity: 1;
			visibility: visible;
			z-index: 5;
		}
		transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;

		@media (min-width: $md4) {
			z-index: 1;
			opacity: 1;
			visibility: visible;
			transition: none;
			top: 1rem;
			position: sticky;
			overflow-y: visible;
			background: none;
			height: auto;
			width: auto;
			padding: 0;
		}
		.banners__item {
			margin-top: 0.62rem;
			text-align: center;
			min-height: auto;
			margin-left: 1rem;
			margin-right: 1rem;
			@media (min-width: $md4) {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
	// .catalog__sidebar-header
	&__sidebar-header {
		display: flex;
		justify-content: space-between;
		padding: rem(17.5) rem(20);
		border-bottom: rem(1) solid $grayStroke;
		@media (min-width: $md4) {
			border-bottom: 0;
			padding: 0;
		}
	}
	// .catalog__sidebar-caption
	&__sidebar-caption {
	}
	// .catalog__sidebar-close
	&__sidebar-close {
		color: $lightBlue;
		@media (min-width: $md4) {
			display: none;
		}
	}

	// .catalog__sidebar-caption
	&__sidebar-caption {
		font-size: 1.3125rem;
		font-weight: 600;
	}
	// .catalog__filters
	&__filters {
		margin-top: rem(20);
		padding: 0 rem(16);
		@media (min-width: $md4) {
			margin-top: 1.91rem;
			padding: 0;
		}
	}
	// .catalog__filters-row
	&__filters-row {
		&:not(:last-child) {
			margin-bottom: 2.15rem;
		}
	}
	// .catalog__filters-spoller
	&__filters-spoller {
		color: $darkBlue;
		font-size: 1rem;
		font-weight: 600;
		display: flex;
		justify-content: space-between;
		width: 100%;
		text-align: left;
		&::before {
			order: 1;
			transform: rotate(90deg);
			transition: transform 0.3s ease 0s;
		}
		&.active {
			&::before {
				transform: rotate(-90deg);
			}
		}
	}

	// .catalog__filters-spoller
	&__filters-spoller {
	}
	// .catalog__filters-content
	&__filters-content {
		display: none;
		padding: 1.25rem 0 0 0;
	}
	// .catalog__filters-items
	&__filters-items {
	}
	// .catalog__filters-hidden
	&__filters-hidden {
		margin-top: 0.5rem;
		display: none;
	}
	// .catalog__filters-more
	&__filters-more {
		margin-top: 1.25rem;
		color: $darkBlue;
		font-size: 0.8125rem;

		display: inline-flex;
		align-items: center;
		gap: 0.62rem;
		&::before {
			order: 1;
			transform: rotate(90deg);
			transition: transform 0.3s ease 0s;
		}
		& span {
			pointer-events: none;
			text-decoration: underline;
		}
		&.active {
			&::before {
				transform: rotate(-90deg);
			}
		}
		@media (any-hover: hover) {
			&:hover {
				& span {
					text-decoration: none;
				}
			}
		}
	}
	// .catalog__filters-price
	&__filters-price {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.25rem;
		row-gap: 1.4rem;
	}
	// .catalog__filters-column
	&__filters-column {
		position: relative;
		color: $darkBlue;
		font-size: 0.875rem;
		.form__input {
			font-size: 0.875rem;
			padding-left: 2rem;
		}
	}
	// .catalog__filters-unit
	&__filters-unit {
		position: absolute;
		left: 0.75rem;
		top: 50%;
		transform: translateY(-50%);
	}
	// .catalog__filters-range
	&__filters-range {
		grid-column: span 2;
	}
	// .catalog__filters-checkbox
	&__filters-checkbox {
	}
	// .catalog__filters-btn
	&__filters-btn {
		width: 100%;
		margin-top: 1.25rem;
	}
	&__filters-toggler {
		color: $darkBlue;
		font-size: 1rem;
		font-weight: 600;
		display: flex;
		justify-content: space-between;
	}
}
