.error {
	padding: 3.5rem 0;
	min-height: calc(100vh - rem(200));
	background: linear-gradient(rgba($color: #000000, $alpha: 0.4), rgba($color: #000000, $alpha: 0.4)), url("@img/404.jpg") center / cover no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	// .error__container
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: 100%;
	}
	// .error__status
	&__status {
		width: 100%;
		max-width: 7.66075rem;
		@media (min-width: $md5) {
			max-width: rem(440);
		}
		@media (min-width: $md2) {
			max-width: rem(570);
		}
		& img {
			width: 100%;
		}
	}
	// .error__title
	&__title {
		font-weight: 600;
		line-height: 120%;
		font-size: rem(24);
		@media (min-width: $md5) {
			margin-top: -4rem;
			font-size: 4rem;
		}
		@media (min-width: $md2) {
			font-size: 4.625rem;
		}
	}
	&__subtitle {
		margin-top: 0.75rem;
		font-size: rem(14);
		@media (min-width: $md5) {
			font-size: rem(18);
		}
		@media (min-width: $md2) {
			font-size: 1.5rem;
		}
		line-height: 120%;
	}
	// .error__btn
	&__btn {
		&.btn {
			margin-top: 2.5rem;
			font-size: 0.875rem;
			min-width: 10.9375rem;
			aspect-ratio: math.div(247, 100);
			@media (min-width: $md4) {
				font-size: rem(18);
				min-width: 15.4375rem;
			}
		}
	}
}
