.goods {
	padding: rem(20) 0;
	@media (min-width: $md5) {
		padding: rem(30) 0;
	}
	// .goods__container
	&__container {
		display: flex;
		gap: rem(20);
		flex-direction: column;
		@media (min-width: $md3) {
			align-items: flex-start;
			flex-direction: row;
		}
	}
	// .goods__sidebar
	&__sidebar {
		order: 1;
		border-radius: 0.3125rem;
		padding: 1.88rem;
		border: rem(1) solid $grayStroke;
		@media (min-width: $md3) {
			padding: 0;
			border: 0;
			border-radius: 0;
			flex: 0 0 rem(260);
			order: 0;
			position: sticky;
			top: 1rem;
		}
		&.goods__sidebar_lg {
			padding: 0;
			border: 0;
			order: -1;
			@media (min-width: $md3) {
				order: 0;
				display: block;
				flex: 0 0 rem(320);
			}
			@media (min-width: $md1) {
				flex: 0 0 rem(480);
			}

			.goods__sidebar-list {
				display: block;

				@media (min-width: $md3) {
					margin-top: 0;
				}
				padding: rem(30);
				border-radius: 0.3125rem;
				border: rem(1) solid #e8e8e8;
			}
			.goods__sidebar-category {
				padding-left: 0rem;
				font-size: 0.875rem;
				&:not(:last-child) {
					margin-bottom: 1.25rem;
				}
			}
			.goods__sidebar-item {
				&:not(:last-child) {
					margin-bottom: 1.88rem;
				}
			}
		}
	}

	// .goods__sidebar-header
	&__sidebar-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1.88rem;
		@media (min-width: $md3) {
			display: none;
		}
	}
	// .goods__sidebar-title
	&__sidebar-title {
	}
	// .goods__sidebar-filter
	&__sidebar-filter {
		display: flex;
		width: 2.375rem;
		height: 2.375rem;
		padding: 0.4375rem 1rem;
		justify-content: center;
		align-items: center;
		gap: 0.625rem;
		border-radius: 0.3125rem;
		border: 1px solid $lightBlue;
		color: $lightBlue;
		background: $white;
		&.active {
			border-color: $yellow;
			color: $dark;
		}
	}
	// .goods__sidebar-content
	&__sidebar-content {
		display: none;
		@media (min-width: $md3) {
			display: block !important;
		}
	}
	// .goods__sidebar-list
	&__sidebar-list {
		& + .banners__item {
			margin-top: rem(20);
		}
	}
	// .goods__sidebar-item
	&__sidebar-item {
		&:not(:last-child) {
			margin-bottom: 1.88rem;
			@media (min-width: $md3) {
				margin-bottom: 0.94rem;
			}
		}
	}
	// .goods__sidebar-categories
	&__sidebar-categories {
		margin-top: 1.25rem;
		display: none;
		&.initial-block {
			display: block;
		}
	}
	// .goods__sidebar-category
	&__sidebar-category {
		&:not(:last-child) {
			margin-bottom: 1.25rem;
		}
		font-size: 0.875rem;
		@media (min-width: $md3) {
			padding-left: 2rem;
			font-size: 0.75rem;
			&:not(:last-child) {
				margin-bottom: 0.75rem;
			}
		}
		& a {
			color: $darkBlue;

			@media (any-hover: hover) {
				&:hover {
					color: $blue;
					text-decoration: underline;
				}
			}
		}
	}
	// .goods__sidebar-link
	&__sidebar-link {
		display: flex;
		align-items: center;
		gap: 0.63rem;
		color: $darkBlue;
		transition: color 0.3s ease 0s;
		font-size: 0.8125rem;
		&::before {
			order: 1;
			@extend %ic, .icon-plus;
			font-size: 1.5rem;
			margin-left: auto;
			flex-shrink: 0;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $darkBlue;
				&::before {
					color: $darkBlue;
				}
				.goods__sidebar-text {
					font-weight: 600;
					text-decoration: underline;
				}
			}
		}
		&.active {
			color: $darkBlue;
			.goods__sidebar-main {
				&::before {
					color: $darkBlue;
				}
			}
			.goods__sidebar-text {
				@media (min-width: $md3) {
					font-weight: 600;
					text-decoration: underline;
				}
			}
			&::before {
				@extend %ic, .icon-minus;
			}
		}
	}
	&__sidebar-caption {
		font-family: $font-din;
		font-size: 1.125rem;
		font-weight: 700;
		line-height: 100%;
	}
	// .goods__sidebar-main
	&__sidebar-main {
		@media (min-width: $md3) {
			position: relative;
			padding-left: 2rem;
		}
		&::before {
			display: none;
			@media (min-width: $md3) {
				width: 1.25rem;
				height: 1.25rem;
				font-size: 1.25rem;
				display: flex;
				justify-content: center;
				align-items: center;
				color: $lightBlue;
				transition: color 0.3s ease 0s;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
		}
	}
	// .goods__sidebar-text
	&__sidebar-text {
		font-size: 1.125rem;
		font-weight: 700;
		font-family: $font-din;
		@media (min-width: $md3) {
			font-family: $fontfamily;
			font-weight: 400;
			font-size: 0.8125rem;
		}
	}
	// .goods__sidebar-quantity
	&__sidebar-quantity {
		color: $lightBlue;
		font-size: 0.8125rem;
	}
	// .goods__content
	&__content {
		display: flex;
		flex-direction: column;
		&.goods__content_lg {
			@media (max-width: $md3) {
				display: contents;
				.banners__item {
					order: -1;
				}
			}
		}
		@media (min-width: $md3) {
			flex: 1 1 auto;
			&:not(:first-child) {
				padding-left: rem(20);
				border-left: rem(1) solid $grayStroke;
			}
		}
	}
	&__heading {
		@media (max-width: $md5) {
			font-size: 1.9375rem;
			line-height: 1.25;
		}
		& + .goods__block {
			margin-top: rem(0);
			@media (min-width: $md3) {
				margin-top: rem(30);
			}
		}
	}
	// .goods__block
	&__block {
		margin-top: rem(30);
	}
	// .goods__categories
	&__categories {
		@media (min-width: $md3) {
			margin-top: 1.88rem;
		}
	}
	// .goods__category
	&__category {
		&:not(:last-child) {
			margin-bottom: 1.88rem;
		}
		@media (min-width: $md3) {
			&:not(:last-child) {
				margin-bottom: 0;
			}
		}
		display: none;
		&.active {
			display: block;
		}
	}
	// .goods__title
	&__title {
		font-family: $font-din;
		font-weight: 700;
		line-height: 100%;
		font-size: 1.5rem;
		display: flex;
		@media (min-width: $md3) {
			color: $darkBlue;
			color: $dark;
		}
	}
	// .goods__grid
	&__grid {
		margin-top: 1.88rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem(10);
		@media (min-width: $md4) {
			gap: rem(20);
			row-gap: rem(10);
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: $md1) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	// .goods__card
	&__card {
		display: flex;
		flex-direction: column;
		gap: rem(10);
		text-align: center;
		@media (any-hover: hover) {
			&:hover {
				.goods__card-image img {
					transform: scale(1.025);
				}
			}
		}
	}
	// .goods__card-image
	&__card-image {
		position: relative;
		height: 0;
		padding-bottom: 100%;
		border-radius: rem(10);
		overflow: hidden;
		& img {
			position: absolute;
			top: 0;
			left: 0;
			transition: transform 0.3s ease 0s;
		}
	}
	// .goods__card-name
	&__card-name {
		color: $darkBlue;
		font-size: 0.8125rem;
		font-weight: 600;
	}
	// .goods__body
	&__body {
		margin-top: 1.88rem;

		.row {
			--gutter-y: 1.88rem;
		}
	}
	// .goods__caption
	&__caption {
		color: $dark;
		font-size: 0.875rem;
		font-weight: 600;
	}
	// .goods__list
	&__list {
		margin-top: 1.25rem;

		&:not(.active) {
			.goods__item:not(:nth-child(1), :nth-child(2), :nth-child(3), :nth-child(4), :nth-child(5)) {
				display: none;
			}
		}
	}
	// .goods__item
	&__item {
		color: $darkBlue;
		font-size: 0.8125rem;
		&:not(:last-child) {
			margin-bottom: 0.62rem;
		}
	}
	// .goods__item-link
	&__item-link {
		display: flex;
		align-items: center;
		gap: 0.62rem;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $blue;
				& .goods__item-text {
					text-decoration: underline;
				}
			}
		}
	}
	// .goods__item-quantity
	&__item-quantity {
		color: $lightBlue;
		font-size: 0.75rem;
		font-weight: 500;
	}
	// .goods__more
	&__more {
		margin-top: 1.25rem;
		color: $blue;
		display: inline-block;
		font-size: 0.8125rem;
		text-decoration: underline;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	// .goods__products
	&__products {
		flex: 0 0 rem(230);
		display: flex;
		flex-direction: column;
		gap: rem(20);
	}
}
