.promo {
	padding: em(0) em(0) rem(5) em(0);
	// .promo__container
	&__container {
		padding: 0;
		@media (min-width: $md5) {
			padding: 0 1rem;
		}
	}
	// .promo__slider
	&__slider {
		position: relative;
		max-width: 100%;
	}
	// .promo__slide
	&__slide {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), var(--banner-image) center 0 / cover no-repeat, $darkBg;
		color: #fff;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		height: auto;
		min-height: rem(300);
		padding: 2rem rem(20) 2rem;

		@media (min-width: $md5) {
			border-radius: 0.625rem;
			padding: 2.5rem rem(60) 2rem;
		}
		@media (min-width: $md3) {
			min-height: 25rem;
		}
		@media (min-width: $md2) {
			padding: 3.75rem rem(60);
			min-height: 32.625rem;
		}
	}
	// .promo__slider-title
	&__slider-title {
		color: $white;
		text-align: right;
		font-family: $font-din;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 1.125rem;
		line-height: 1.4;
		max-width: 17rem;
		@media (min-width: $md5) {
			max-width: 22rem;
			line-height: 1.5;
			font-size: 1.5rem;
		}
		@media (min-width: $md2) {
			max-width: 27rem;
			font-size: 1.9375rem;
		}
	}
	// .promo__btn
	&__btn {
		margin-top: 2.25rem;
		@media (min-width: $md2) {
			margin-top: 4.37rem;
		}
	}
	// .promo__pagination
	&__pagination {
		&.swiper-pagination {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
			z-index: 2;
			padding: 1.06rem;
			display: flex;
			column-gap: 0.25rem;
			max-width: rem(290);
			@media (min-width: $md5) {
				max-width: rem(440);
			}
			@media (min-width: $md4) {
				column-gap: 1.25rem;
			}

			@media (min-width: $md3) {
				max-width: rem(720);
			}
			@media (min-width: $md2) {
				max-width: rem(960);
			}
			@media (min-width: $md1) {
				max-width: rem(1030);
			}
			& .swiper-pagination-bullet {
				background: $white;
				margin: 0;
				opacity: 1;
				flex: 1 1 auto;
				height: rem(4);
				border-radius: rem(5);
				@media (min-width: $md1) {
					border-radius: 0.3125rem;
					height: 0.375rem;
				}
				position: relative;
				&::before {
					content: "";
					position: absolute;
					top: 0;
					border-radius: 0.3125rem;
					border: 0;
					transform: none;
					color: $yellow;
					will-change: width;
					left: 0;
					width: 0;
					height: 100%;
					background: $yellow;
				}
				&::after {
					content: "";
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 0;
					width: 100%;
					height: rem(24);
					z-index: -1;
				}
				&.swiper-pagination-bullet-active {
					&::before {
						animation: countingBar var(--counting-speed, 8s) linear 0s forwards;
					}
				}
				@keyframes countingBar {
					0% {
						width: 0;
					}
					100% {
						width: 100%;
					}
				}
			}
		}
	}
}

.navigation {
	padding: rem(35) 0 rem(15);
	@media (min-width: $md2) {
		padding: rem(35) 0;
	}
	// .navigation__container
	&__container {
		display: grid;
		gap: rem(20);
		grid-template-columns: repeat(4, 1fr);
		row-gap: rem(16);
		@media (min-width: $md1) {
			row-gap: rem(20);
			grid-template-columns: 1fr 2fr;
		}
	}
	// .navigation__main
	&__main {
		position: relative;
		min-height: 100%;
		padding: 2.5rem 0;
		grid-column: span 2;
		grid-row: span 2;
		order: -2;
		@media (min-width: $md1) {
			grid-column: auto;
			grid-row: auto;
		}
	}
	// .navigation__main-image
	&__main-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		& img {
			border-radius: rem(5);
		}
	}
	// .navigation__main-list
	&__main-list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	// .navigation__main-item
	&__main-item {
		&:not(:last-child) {
			margin-bottom: 1.25rem;
		}
	}

	// .navigation__list
	&__list {
		display: contents;
		@media (min-width: $md1) {
			display: grid;
			gap: 1.75rem;
			column-gap: rem(20);
			grid-template-columns: repeat(3, 1fr);
		}
	}
	// .navigation__item
	&__item {
		&.navigation__item_lg-tablet {
			grid-column: span 2;
			order: -1;
			@media (min-width: $md1) {
				order: 0;
			}
			&.order-1 {
				order: -2;
				@media (min-width: $md1) {
					order: 0;
				}
			}
			.card__image {
				padding-bottom: 40%;
				@media (min-width: $md3) {
					padding-bottom: 38.5%;
				}
				@media (min-width: $md1) {
					padding-bottom: 56.25%;
				}
			}
			@media (min-width: $md1) {
				grid-column: auto;
			}
		}
		&:nth-child(3) {
			order: -1;
			@media (min-width: $md1) {
				order: 0;
			}
		}
		&:nth-child(4) {
			order: -1;
			@media (min-width: $md1) {
				order: 0;
			}
		}
		.card {
			min-height: 100%;
			&__image {
				@media (min-width: $md3) {
					flex: 1 1 auto;
				}
				@media (min-width: $md2) {
					flex: 0 1 auto;
				}
			}
		}
	}
}

.companies {
	padding: rem(35) 0;
	overflow: hidden;
	// .companies__container
	&__container {
		display: flex;
		align-items: center;
	}
	// .companies__side
	&__side {
		padding: 0.38rem 1.87rem 0.38rem 0;
		border-right: 0.25rem solid $yellow;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		min-width: rem(205);
	}
	// .companies__title
	&__title {
	}
	// .companies__more
	&__more {
		margin-top: 0.63rem;
		color: $darkBlue;
		font-size: 0.875rem;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .companies__slider
	&__slider {
		position: relative;
		z-index: 1;
		min-width: 0;
		.swiper-wrapper {
			transition-timing-function: linear !important;
		}
	}
	// .companies__slide
	&__slide {
		width: auto;
		padding: rem(18) rem(19);
		& img {
			height: rem(40);
			width: auto;
		}
	}
}

.products {
	padding: 1.125rem 0;
	@media (min-width: $md5) {
		padding: rem(35) 0;
	}
	@media (min-width: $md3) {
		.row {
			&:not(:last-child) {
				margin-bottom: 2.2rem;
			}
		}
	}
	&__search {
		min-height: 3rem;
		margin-bottom: 1.25rem;
		display: flex;
	}
	// .products__container
	&__container {
	}
	// .products__title
	&__title {
		font-size: 1.9375rem;
		@media (min-width: $md1) {
			font-size: 2.5625rem;
		}
	}
	// .products__grid
	&__grid {
		display: grid;
		gap: 1.25rem;
		grid-template-columns: repeat(2, 1fr);
		margin-top: 1.25rem;
		@media (min-width: $md5) {
			margin-top: 1.5rem;
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: $md4) {
			row-gap: 0.3rem;
			grid-template-columns: repeat(4, 1fr);
		}
		@media (min-width: $md1) {
			margin-top: 1.87rem;
			row-gap: 1.6rem;
			grid-template-columns: repeat(5, 1fr);
		}
	}
	// .products__banner
	&__banner {
		grid-row: 1 / 3;
		grid-column: 2 / 4;
		@media (min-width: $md4) {
			grid-column: 3 / 5;
		}
		@media (min-width: $md2) {
			margin-top: -4.4rem;
			min-height: calc(100% + 4.4rem);
		}
		@media (min-width: $md1) {
			grid-column: 4 / 6;
		}
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 2.5rem 0;
		border-radius: rem(5);
		overflow: hidden;
		.more-link__caption {
			font-size: 1.5rem;
		}
	}
	// .products__banner-image
	&__banner-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		& img {
			object-position: 0 center;
		}
	}
	// .products__container
	&__container {
	}

	// .products__selection
	&__selection {
		border-radius: 0.3125rem;
		background: #e4ecf7;
		padding: 2.5rem 1.88rem;
		min-height: 100%;
		&.products__selection_yellow {
			background: #f4eed7;
		}
	}
	// .products__selection-header
	&__selection-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	// .products__selection-caption
	&__selection-caption {
		font-size: 1.125rem;
	}
	// .products__selection-btn
	&__selection-btn {
		color: $darkBlue;
		font-size: 0.875rem;
		font-weight: 600;
		padding: 0.62rem 1rem;
		border-radius: 0.3125rem;
		border: rem(1) solid $darkBlue;
		display: flex;
		align-items: center;
		gap: 0.62rem;
		&::before {
			order: 1;
		}
		@media (any-hover: hover) {
			&:hover {
				background: $darkBlue;
				color: $white;
			}
		}
	}
	// .products__selection-title
	&__selection-title {
		margin-top: 0.62rem;
		color: $darkBlue;
		font-family: $font-din;
		font-size: 1.9375rem;
		font-weight: 700;
		margin-bottom: 1.68rem;
	}
	// .products__selection-list
	&__selection-list {
		--gutter-y: 1.75rem;
	}
}

.product {
	position: relative;
	border-radius: 0.3125rem;
	border: rem(1) solid $grayStroke;
	overflow: hidden;
	padding: 0.62rem;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background: $white;
	transition: box-shadow 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			box-shadow: rem(37) rem(21) rem(12) 0 rgba(121, 122, 129, 0), rem(24) rem(14) rem(11) 0 rgba(121, 122, 129, 0.01),
				rem(13) rem(8) rem(9) rem(0) rgba(121, 122, 129, 0.05), rem(6) rem(3) rem(7) 0 rgba(121, 122, 129, 0.09), rem(1) rem(1) rem(4) 0 rgba(121, 122, 129, 0.1);
			.product__actions {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.row-layout & {
		padding: 1.12rem 1.25rem 0.62rem 15.63rem;
		min-height: 13.76rem;
		.product__header {
			margin-top: 0;
			position: absolute;
			top: 0.63rem;
			left: 1.25rem;
			width: 12.5rem;
			height: 12.5rem;
		}
		.product__actions {
			top: 0;
			justify-content: center;
		}
		.product__name {
			order: -2;
		}
		.product__price {
			order: 1;
			text-align: right;
			align-items: flex-end;
		}
		.product__footer {
			display: contents;
		}
		.product__info {
			display: grid;
			column-gap: 1.88rem;
			grid-template-columns: 1fr 9.375rem;
		}
		.product__props {
			order: -1;
			grid-row: span 2;
		}
		.product__props-row {
			&::after {
				content: "";
				background: linear-gradient(90deg, #94a3b8 50%, transparent 50%) 0 0 / rem(4) rem(1) repeat-x;
				flex: 1 1 auto;
				height: rem(1);

				margin: 0 0.62rem;
			}
		}
		.product__cart {
			margin-top: 0.63rem;
			order: 1;
		}
		.product__avaibility {
			order: -2;
			text-align: right;
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
		}
	}
	&.swiper-slide {
		height: auto;
	}
	// .product__labels
	&__labels {
		margin-left: 0;
		margin-right: -0.62rem;
		height: 1.75rem;
		order: -1;
		@media (min-width: $md4) {
			max-width: calc(100% + 0.62rem);
		}
	}
	// .product__label
	&__label {
		width: fit-content;
	}
	// .product__header
	&__header {
		order: -1;
		margin-top: 0.625rem;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		&:first-child {
			margin-top: rem(38);
		}
	}
	// .product__image
	&__image {
		height: 9.375rem;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (min-width: $md5) {
			height: 12.5rem;
		}
		width: 100%;
		& img {
			max-height: 100%;
			transition: transform 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				& img {
					transform: scale(1.025);
				}
			}
		}
	}
	// .product__actions
	&__actions {
		margin: 0.62rem em(0) em(0) em(0);
		display: flex;
		width: 100%;
		justify-content: space-between;
		gap: 0.25rem;
		@media (min-width: $md5) {
			margin: 0;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			position: absolute;
			bottom: 0;
			right: 0;
			transition: all 0.3s ease 0s;
			@media (hover: hover) {
				transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
				opacity: 0;
				visibility: hidden;
			}
		}
	}
	// .product__info
	&__info {
		display: contents;
	}
	// .product__action
	&__action {
		display: flex;

		max-width: 2.5rem;
		width: 100%;
		font-size: 1.125rem;
		height: 2.25rem;
		min-width: 2.25rem;
		@media (min-width: 375px) {
			min-width: 2.5rem;
			height: 2.5rem;
		}
		@media (min-width: $md5) {
			min-width: 0;
			font-size: 1rem;
			max-width: 2rem;
			width: auto;
			height: 2rem;
			padding: 0.4375rem 1rem;
		}
		justify-content: center;
		align-items: center;
		border-radius: 0.3125rem;
		border: rem(1) solid $yellow;
		background: $white;
		overflow: hidden;
		color: $darkBlue;
		transition: all 0.25s linear 0s;
		will-change: contents;
		& span {
			display: none;
			@media (min-width: $md5) {
				display: block;
				font-size: 0.75rem;
				overflow: hidden;
				pointer-events: none;

				margin-right: -0.625rem;
				margin-left: 0.625rem;
				white-space: nowrap;
				will-change: contents;
				font-weight: 600;
				transition: all 0.25s linear 0s;
			}
		}

		&:not(:last-child) {
			margin-bottom: 0.31rem;
		}
		&:hover {
			padding: 0.4375rem;
			max-width: 100%;
			span {
				margin-right: 0;
			}
		}
		&:active {
			background: $yellow;
		}
		&.active {
			background: $yellow;
		}
	}
	// .product__price
	&__price {
		order: -1;
		gap: 0.63rem;
		display: flex;
		margin-top: 0.25rem;
		flex-direction: column;
		align-items: flex-start;
		min-height: rem(50);
		@media (min-width: $md5) {
			margin-top: 0.69rem;
		}
	}
	// .product__price-value
	&__price-value {
		margin-top: auto;
		font-size: 1.3125rem;
		font-weight: 700;
	}
	// .product__price-old
	&__price-old {
		color: $lightBlue;
		font-size: 0.75rem;
		font-weight: 600;
		text-decoration: line-through;
	}
	// .product__name
	&__name {
		margin-top: 0.63rem;
		margin-bottom: auto;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
		text-overflow: ellipsis;
		font-weight: 600;
		text-transform: uppercase;
		transition: color 0.3s ease 0s;

		& small {
			text-transform: none;
			font-size: 0.75rem;
			margin-bottom: 0.25rem;
			display: block;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $yellow;
			}
		}
	}
	// .product__props
	&__props {
		margin-top: 0.63rem;
	}
	// .product__props-row
	&__props-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: $darkBlue;
		font-size: 0.8125rem;
		&:not(:last-child) {
			margin-bottom: 0.63rem;
		}
	}
	// .product__props-name
	&__props-name {
		text-align: left;
		order: -1;
	}
	// .product__props-value
	&__props-value {
		text-align: right;
		order: 1;
	}
	// .product__footer
	&__footer {
		margin-top: 0.63rem;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		@media (min-width: $md5) {
			align-items: center;
			justify-content: space-between;
			flex-direction: row;
		}
	}
	// .product__avaibility
	&__avaibility {
		font-size: 0.75rem;
		font-weight: 600;
		text-transform: uppercase;
		color: $lightBlue;
	}
	// .product__cart
	&__cart {
		@media (min-width: $md5) {
			margin-left: auto;
		}
		white-space: nowrap;
	}
}

.banners {
	// .banners__container
	&__container {
	}
	// .banners__item
	&__item {
		border-radius: 0.3125rem;
		padding: 1.6rem 1.88rem;
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1.25rem;
		background: #e4ecf7;
		color: $darkBlue;
		&.banners__item_column {
			flex-direction: column;
		}
		&.banners__item_yellow {
			background: #f4eed7;
		}
		&.banners__item_green {
			background: #bcddc9;
		}
	}
	// .banners__item-body
	&__item-body {
	}
	// .banners__item-caption
	&__item-caption {
		font-family: $font-din;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 1.5rem;
		@media (min-width: $md4) {
			font-size: 1.9375rem;
		}
	}
	// .banners__item-desc
	&__item-desc {
		margin-top: 0.62rem;
		font-size: 0.75rem;
		@media (min-width: $md4) {
			font-size: 1rem;
		}
	}
	// .banners__item-image
	&__item-image {
		min-width: 6.25rem;
		@media (min-width: $md4) {
			min-width: 9.375rem;
		}
	}
}
