.product-card {
	padding: em(0) em(0) 1.88rem em(0);
	// .product-card__container
	&__container {
	}
	// .product-card__header
	&__header {
	}
	// .product-card__actions
	&__actions {
		padding: 1.25rem 0;
		display: flex;
		justify-content: space-between;
	}
	// .product-card__action
	&__action {
		gap: 0.75rem;
		&::before {
			font-size: 1rem;
			order: 1;
		}
	}
	// .product-card__content
	&__content {
		margin-top: 0.75rem;
		display: flex;
		gap: 1.25rem;
		align-items: flex-start;
	}
	// .product-card__body
	&__body {
		flex: 1 1 auto;
		max-width: 100%;
		padding: rem(10) em(0) em(0) em(0);
	}
	// .product-card__heading
	&__heading {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 0.45rem;
	}
	// .product-card__title
	&__title {
	}
	// .product-card__labels
	&__labels {
		display: flex;
		gap: 0.75rem;
		align-items: center;
	}
	// .product-card__label
	&__label {
	}
	// .product-card__main
	&__main {
		margin-top: rem(28);
		display: flex;
		gap: rem(20);
	}
	// .product-card__slider
	&__slider {
		flex: 0 0 rem(480);
		max-width: rem(480);
		min-width: 0;
	}
	// .product-card__slider-main
	&__slider-main {
		height: 30rem;
		border: 1px solid $grayStroke;
	}
	// .product-card__slide
	&__slide {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 30rem;
		padding: 1rem;
		& img {
			transition: transform 0.3s ease 0s;
			max-height: 100%;
			width: auto;
		}
		@media (any-hover: hover) {
			&:hover {
				& img {
					transform: scale(1.015);
				}
			}
		}
	}
	&__slider-bottom {
		margin-top: 1.25rem;
		display: flex;
		.product-card__thumbs {
			margin-top: 0;
		}
	}
	// .product-card__slider-video
	&__slider-video {
		max-width: 6.5625rem;

		aspect-ratio: 1;
		border: 1px solid $grayStroke;
		flex-shrink: 0;
		margin-right: 1.25rem;
		display: block;
		position: relative;
		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			font-size: 2rem;
			transform: translate(-50%, -50%);
			color: #fff;
			transition: opacity 0.3s ease 0s;
			opacity: 0.7;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					opacity: 1;
				}
			}
		}
	}
	// .product-card__thumbs
	&__thumbs {
		margin-top: 1.25rem;
		min-width: 0;
	}
	// .product-card__thumb
	&__thumb {
		border: rem(1) solid $grayStroke;
		aspect-ratio: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.5rem;
		cursor: pointer;
		& img {
			height: 100%;
			width: auto;
		}
		&.swiper-slide-thumb-active {
			border: rem(1) solid $dark;
		}
	}
	// .product-card__slider-pagination
	&__slider-pagination {
	}
	// .product-card__info
	&__info {
		flex: 1 1 auto;
	}
	// .product-card__info-header
	&__info-header {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
	// .product-card__info-caption
	&__info-caption {
	}
	// .product-card__info-actions
	&__info-actions {
		display: flex;
		gap: 0.62rem;
	}
	// .product-card__info-action
	&__info-action {
		display: flex;
		width: rem(38);
		height: rem(38);
		padding: 0.4375rem 1rem;
		justify-content: center;
		align-items: center;
		border-radius: 0.3125rem;
		border: rem(1) solid $yellow;
		background: $white;
		overflow: hidden;
		color: $darkBlue;

		transition: all 0.3s ease 0s;

		&:hover,
		&:active {
			background: $yellow;
		}

		&.active {
			background: $yellow;
		}
	}
	// .product-card__info-list
	&__info-list {
		margin-top: 0.75rem;
		max-height: rem(225);
		transition: max-height 0.3s ease 0s;
		overflow: hidden;
		&.full {
			max-height: 100%;
		}
	}
	&__info-more {
		margin-top: rem(20);
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: fit-content;
		margin-left: auto;
		color: $lightBlue;
		font-size: 0.8125rem;
		gap: 0.62rem;
		transition: color 0.3s ease 0s;
		text-decoration: underline;
		cursor: pointer;
		position: relative;
		padding-right: 2rem;
		&::before {
			position: absolute;
			top: 50%;
			right: 0;
			transform: rotate(90deg) translateX(-50%);
			order: 1;
			width: 1rem;
			height: 1rem;
			text-decoration: none;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
		&.active {
			&::before {
				transform: rotate(-90deg) translateX(50%);
			}
		}
	}
	// .product-card__info-item
	&__info-item {
		display: flex;
		gap: 0.62rem;
		color: $darkBlue;
		font-size: 0.8125rem;

		&::before {
			content: "";
			width: 100%;
			height: rem(1);
			background-image: linear-gradient(90deg, $lightGray 50%, transparent 50%);
			background-repeat: repeat-x;
			background-size: rem(4) rem(1);
			align-self: flex-end;
		}
		&:not(:last-child) {
			margin-bottom: 0.63rem;
		}
		& a {
			color: $blue;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	// .product-card__info-name
	&__info-name {
		order: -1;
		flex-shrink: 0;
	}
	// .product-card__info-value
	&__info-value {
		order: 1;
		flex-shrink: 0;
	}
	// .product-card__side
	&__side {
		flex-shrink: 0;
		width: 22.1875rem;
		border-radius: 0.3125rem;
		border: rem(1) solid $lightGray;
		background: $lightBg;
		padding: 1.88rem;
	}
	// .product-card__side-caption
	&__side-caption {
		color: $darkBlue;
		font-size: 0.875rem;
		font-weight: 600;
	}
	// .product-card__side-labels
	&__side-labels {
		margin-top: 0.66rem;
		display: flex;
		flex-wrap: wrap;
		gap: 0.63rem;
	}
	// .product-card__side-label
	&__side-label {
		border-radius: 0.3125rem;
		border: rem(1) solid $lightBlue;
		padding: 0.45rem 0.875rem;
		color: $darkBlue;
		font-size: 0.8125rem;
		&.product-card__side-label_active {
			font-weight: 600;
			font-size: 0.75rem;
			border: rem(1) solid $yellow;
		}
	}

	// .product-card__characteristics
	&__characteristics {
		margin-top: 1.91rem;
	}
	// .product-card__characteristics-item
	&__characteristics-item {
		&:not(:last-child) {
			margin-bottom: 0.62rem;
		}
		display: grid;
		grid-template-columns: 68% 1fr;
		gap: 0.62rem;
		font-size: 0.8125rem;
	}
	// .product-card__characteristics-name
	&__characteristics-name {
		text-align: left;
		color: $darkBlue;

		display: flex;
		align-items: center;
		gap: 0.62rem;
		&::before {
			@extend %ic, .icon-tick-circle;
			font-size: 1.05rem;
			color: $lightBlue;
			width: 1rem;
			height: 1rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	// .product-card__characteristics-value
	&__characteristics-value {
		text-align: right;
		&.text-uppercase {
			font-size: 0.75rem;
		}
	}
	// .product-card__price
	&__price {
		margin-top: 1.87rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 0.63rem;
	}
	// .product-card__price-old
	&__price-old {
		color: $lightBlue;
		font-size: 1rem;
		font-weight: 600;
		text-decoration-line: strikethrough;
	}
	// .product-card__price-saving
	&__price-saving {
		color: $white;
		background: $green;
		font-size: 0.8125rem;
		padding: 0.5rem 0.62rem;
		border-radius: 0.3125rem;
	}
	// .product-card__price-current
	&__price-current {
		margin-top: 0.22rem;
		flex: 0 0 100%;
		font-size: 1.9375rem;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.62rem;
		& strong {
			font-weight: 600;
		}
	}
	// .product-card__more
	&__more {
		margin-top: 1.25rem;
		display: inline-flex;
		gap: 0.63rem;
		color: $lightBlue;
		font-size: 0.8125rem;
		padding-right: 2rem;
		position: relative;
		text-decoration: underline;
		&::before {
			position: absolute;
			top: 50%;
			right: 0;
			transform: rotate(90deg) translateX(-50%);
			order: 1;
			width: 1rem;
			height: 1rem;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	// .product-card__more-btn
	&__more-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 0.3125rem;
		padding: 0.4rem 1rem;
		color: $darkBlue;
		border: rem(1) solid $lightBlue;
		flex: 1 1 auto;
		font-size: 0.8125rem;
		transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background: $lightBlue;
				color: $white;
			}
		}
		&.icon-whatsapp {
			flex: 0 1 auto;
			color: $white;
			background: #67d449;
			font-size: 1.125rem;
			border: 0;
			@media (any-hover: hover) {
				&:hover {
					background: darken($color: #67d449, $amount: 10);
				}
			}
		}
		&.icon-telegram {
			flex: 0 1 auto;
			background: #4ea4f6;
			color: $white;
			border: 0;
			@media (any-hover: hover) {
				&:hover {
					background: darken($color: #4ea4f6, $amount: 10);
				}
			}
		}
	}
	// .product-card__cart
	&__cart {
		margin-top: 1.25rem;
		width: 100%;
		min-height: 4rem;
	}
	// .product-card__tags
	&__tags {
		margin-top: 1.2rem;
		display: flex;
		flex-wrap: wrap;
		gap: 0.62rem;
	}
	// .product-card__tag
	&__tag {
		display: block;
		transition: background-color 0.3s ease 0s;
		background: $lightGray;
		color: $darkBlue;
		font-size: 0.8125rem;
		padding: 0.69rem 1.25rem;
		border-radius: 0.3125rem;
		@media (any-hover: hover) {
			&:hover {
				background: $yellow;
			}
		}
		&.active {
			background: $yellow;
		}
	}
	// .product-card__products
	&__products {
		margin-top: 1.87rem;
	}
	// .product-card__products-header
	&__products-header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		border-bottom: rem(1) solid $grayStroke;
		padding-bottom: 0.5rem;
	}
	// .product-card__filters
	&__filters {
		display: flex;
		flex-wrap: wrap;
		gap: 2.5rem;
	}
	// .product-card__filter
	&__filter {
		font-family: $font-din;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 100%;
		display: flex;
		gap: 0.62rem;
		padding-bottom: 0.75rem;
		margin-bottom: -1rem;
		&.active {
			border-bottom: 0.25rem solid $yellow;
		}
	}
	// .product-card__quantity
	&__quantity {
		color: $lightBlue;
		font-family: $font-din;
		font-size: 1rem;
		font-weight: 500;
		line-height: 100%;
	}
	// .product-card__contorls
	&__contorls {
		display: flex;
		gap: 1.25rem;
		align-items: center;
	}
	// .product-card__prev
	&__prev {
	}
	// .product-card__pagination
	&__pagination {
		color: $darkBlue;
		font-size: 0.8125rem;
	}
	// .product-card__next
	&__next {
	}
	// .product-card__items
	&__items {
		margin-top: 1.25rem;
	}
	// .product-card__desc
	&__desc {
		margin-top: 1.87rem;
	}
	// .product-card__caption
	&__caption {
		color: $dark;
		font-family: $font-din;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 100%;
	}
	// .product-card__desc-text
	&__desc-text {
		margin-top: 1.25rem;
		color: $darkBlue;
		font-size: 0.8125rem;
		& p {
			&:not(:last-child) {
				margin-bottom: 1rem;
			}
		}
	}
	// .product-card__desc-heading
	&__desc-heading {
		margin-top: 1.35rem;
		color: $darkBlue;
		font-size: 0.875rem;
		font-weight: 600;
	}
	// .product-card__desc-list
	&__desc-list {
		margin-top: 1.35rem;
		color: $darkBlue;
		font-size: 0.8125rem;
		& li {
			&::before {
				@extend %ic, .icon-tick-circle;
				color: $lightBlue;
			}
			display: flex;
			align-items: center;
			gap: 0.62rem;
			&:not(:last-child) {
				margin-bottom: 0.63rem;
			}
		}
	}
	// .product-card__desc-more
	&__desc-more {
		margin-top: 1.25rem;
		display: inline-flex;
		gap: 0.63rem;
		color: $lightBlue;
		font-size: 0.8125rem;
		padding-right: 2rem;
		position: relative;
		text-decoration: underline;
		&::before {
			position: absolute;
			top: 50%;
			right: 0;
			transform: rotate(90deg) translateX(-50%);
			order: 1;
			width: 1rem;
			height: 1rem;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	// .product-card__more-block
	&__more-block {
		display: none;
	}
	// .product-card__docs
	&__docs {
	}
	// .product-card__docs-list
	&__docs-list {
	}
	// .product-card__docs-item
	&__docs-item {
	}
	// .product-card__docs-link
	&__docs-link {
	}
	// .product-card__docs-name
	&__docs-name {
	}
	// .product-card__docs-format
	&__docs-format {
	}
}
