.product-card {
	padding: rem(20) 0;
	@media (min-width: $md5) {
		padding: em(0) em(0) 1.88rem em(0);
	}
	// .product-card__container
	&__container {
	}
	// .product-card__header
	&__header {
		--gutter-y: 0;
	}
	// .product-card__actions
	&__actions {
		display: flex;
		justify-content: space-between;
		max-width: 22.1875rem;
		@media (min-width: $md3) {
			padding: 1.25rem 0;
			margin-left: auto;
		}
	}
	// .product-card__action
	&__action {
		gap: 0.75rem;
		font-weight: 400;
		&::before {
			font-size: 1rem;
			order: 1;
		}
	}
	// .product-card__content
	&__content {
		display: flex;
		gap: 1.25rem;
		align-items: flex-start;
		flex-wrap: wrap;
		@media (min-width: $md5) {
			margin-top: 2rem;
		}
		@media (min-width: $md3) {
			margin-top: 0.75rem;
		}
		@media (min-width: $md1) {
			flex-wrap: nowrap;
		}
	}
	// .product-card__body
	&__body {
		display: contents;
		@media (min-width: $md1) {
			flex: 1 1 auto;
			display: block;
			max-width: 100%;
			padding: rem(10) em(0) em(0) em(0);
		}
	}
	// .product-card__heading
	&__heading {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 0.45rem;
		flex: 0 0 100%;
		row-gap: 0.75rem;
		@media (min-width: $md1) {
			flex: 0 1 auto;
		}
	}
	// .product-card__title
	&__title {
		font-family: $font-din;
		font-weight: 700;
		font-size: 1.5rem;
		@media (min-width: $md5) {
			font-size: 1.9375rem;
		}
	}
	// .product-card__labels
	&__labels {
		display: flex;
		gap: 0.75rem;
		align-items: center;
	}
	// .product-card__label
	&__label {
	}
	// .product-card__main
	&__main {
		display: contents;
		@media (min-width: $md1) {
			margin-top: rem(28);
			gap: rem(20);
			display: flex;
		}
	}
	// .product-card__slider
	&__slider {
		@media (min-width: $md4) {
			flex: 0 0 rem(350);
			max-width: rem(350);
		}
		@media (min-width: $md3) {
			flex: 0 0 rem(480);
			max-width: rem(480);
		}

		min-width: 0;
	}
	// .product-card__slider-main
	&__slider-main {
		height: rem(350);
		@media (min-width: $md3) {
			height: rem(420);
		}
		@media (min-width: $md1) {
			height: 30rem;
		}
		border: rem(1) solid $grayStroke;
		border-radius: rem(5);
	}
	// .product-card__slide
	&__slide {
		display: flex;
		justify-content: center;
		align-items: center;
		height: rem(350);
		@media (min-width: $md3) {
			height: rem(420);
		}
		@media (min-width: $md1) {
			height: 30rem;
		}

		padding: 1rem;
		& img {
			transition: transform 0.3s ease 0s;
			max-height: 100%;
			width: auto;
		}
		@media (any-hover: hover) {
			&:hover {
				& img {
					transform: scale(1.015);
				}
			}
		}
	}
	&__slider-bottom {
		margin-top: 1.25rem;
		display: flex;
		.product-card__thumbs {
			margin-top: 0;
		}
	}
	// .product-card__slider-video
	&__slider-video {
		@media (min-width: $md5) {
			max-width: rem(121);
		}
		@media (min-width: $md4) {
			max-width: 6.5625rem;
		}
		border-radius: rem(5);
		aspect-ratio: 1;
		border: 1px solid $grayStroke;
		flex-shrink: 0;
		margin-right: 1.25rem;
		display: block;
		position: relative;
		& img {
			border-radius: rem(5);
		}
		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			font-size: 2rem;
			transform: translate(-50%, -50%);
			color: #fff;
			transition: opacity 0.3s ease 0s;
			opacity: 0.7;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					opacity: 1;
				}
			}
		}
	}
	// .product-card__thumbs
	&__thumbs {
		margin-top: 1.25rem;
		min-width: 0;
	}
	// .product-card__thumb
	&__thumb {
		border: rem(1) solid $grayStroke;
		aspect-ratio: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.5rem;
		border-radius: rem(5);
		cursor: pointer;
		& img {
			height: 100%;
			width: auto;
			transition: transform 0.3s ease 0s;
		}
		&.swiper-slide-thumb-active {
			border: rem(1) solid $lightBlue;
			& img {
				transform: scale(1.075);
			}
		}
		@media (any-hover: hover) {
			&:hover {
				&:not(.swiper-slide-thumb-active) {
					& img {
						transform: scale(1.025);
					}
				}
			}
		}
	}
	// .product-card__slider-pagination
	&__slider-pagination {
	}
	// .product-card__info
	&__info {
		flex: 1 1 auto;
		order: 1;
	}
	// .product-card__info-header
	&__info-header {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 0.5rem;
	}
	// .product-card__info-caption
	&__info-caption {
		font-size: 1.3125rem;
		@media (min-width: $md5) {
			font-size: 1.5rem;
		}
		font-weight: 700;
		font-family: $font-din;
	}
	// .product-card__info-actions
	&__info-actions {
		display: flex;
		gap: 0.62rem;
	}
	// .product-card__info-action
	&__info-action {
		display: flex;
		width: rem(38);
		height: rem(38);
		padding: 0.4375rem 1rem;
		justify-content: center;
		align-items: center;
		border-radius: 0.3125rem;
		border: rem(1) solid $yellow;
		background: $white;
		overflow: hidden;
		color: $darkBlue;

		transition: all 0.3s ease 0s;

		&:hover,
		&:active {
			background: $yellow;
		}

		&.active {
			background: $yellow;
		}
	}
	// .product-card__info-list
	&__info-list {
		margin-top: 0.75rem;
		max-height: 14.0625rem;
		@media (min-width: $md1) {
			max-height: var(--side-product-height, rem(355));
		}
		transition: max-height 0.3s ease 0s;
		overflow: hidden;
		&.full {
			max-height: 100%;
		}
	}
	&__info-more {
		margin-top: rem(20);
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: fit-content;
		padding-right: 1.5rem;
		@media (min-width: $md5) {
			padding-right: 2rem;
			margin-left: auto;
		}
		color: $lightBlue;
		font-size: 0.8125rem;
		gap: 0.62rem;
		transition: color 0.3s ease 0s;
		text-decoration: underline;
		cursor: pointer;
		position: relative;
		&::before {
			position: absolute;
			top: 50%;
			right: 0;
			transform: rotate(90deg) translateX(-50%);
			order: 1;
			width: 1rem;
			height: 1rem;
			text-decoration: none;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
		&.active {
			&::before {
				transform: rotate(-90deg) translateX(50%);
			}
		}
	}
	// .product-card__info-item
	&__info-item {
		display: flex;
		gap: 0.62rem;
		color: $darkBlue;
		font-size: 0.8125rem;

		&::before {
			content: "";
			width: 100%;
			height: rem(1);
			background-image: linear-gradient(90deg, $lightGray 50%, transparent 50%);
			background-repeat: repeat-x;
			background-size: rem(4) rem(1);
			align-self: flex-end;
		}
		&:not(:last-child) {
			margin-bottom: 0.63rem;
		}
		& a,
		button {
			color: $blue;
			text-decoration: underline;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	// .product-card__colors
	&__colors {
		max-width: 100%;
		min-width: 0;
	}

	// .product-card__back
	&__back {
		display: flex;
		color: $darkBlue;
		font-family: $font-din;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 100%;
		gap: 0.62rem;
		transition: color 0.3s ease 0s;
		&::before {
			transform: rotate(180deg);
			width: 1.5rem;
			height: 1.5rem;
			flex-shrink: 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $dark;
			}
		}
	}
	// .product-card__colors-slider
	&__colors-slider {
		margin-top: 1.88rem;
		height: 16.5rem;
		margin-left: -0.85rem;
		margin-right: -0.85rem;
	}
	// .product-card__color
	&__color {
		display: block;
	}
	// .product-card__color-input
	&__color-input {
		&:checked {
			& + .product-card__color-item {
				.product-card__color-visual {
					border: rem(2) solid $yellow;
					box-shadow: inset 0 0 0 rem(2) #fff;
				}
			}
		}
	}
	// .product-card__color-item
	&__color-item {
		display: flex;
		flex-direction: column;
		color: $darkBlue;
		font-size: 0.75rem;
		cursor: pointer;
		overflow: hidden;
	}
	// .product-card__color-visual
	&__color-visual {
		max-width: 3.5rem;

		aspect-ratio: 1;
		display: block;
		border-radius: rem(5);
		transition: border 0.15s ease 0s, box-shadow 0.15s ease 0s;
		pointer-events: none;
	}
	// .product-card__color-name
	&__color-name {
		pointer-events: none;
		margin-top: rem(10);
	}
	// .product-card__color-code
	&__color-code {
		pointer-events: none;
		margin-top: 0.31rem;
		white-space: nowrap;
	}
	// .product-card__save-colors
	&__save-colors {
		margin-top: 1.25rem;
		min-height: 4rem;
		&.hidden {
			display: none;
		}
	}
	&__save-sizes {
		@extend .product-card__save-colors;
	}
	// .product-card__colors-controls
	&__colors-controls {
		margin-top: 1.25rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: $darkBlue;
		font-size: 0.8125rem;
	}
	// .product-card__colors-prev
	&__colors-prev {
	}
	// .product-card__colors-pagination
	&__colors-pagination {
		text-align: center;
	}
	// .product-card__colors-next
	&__colors-next {
	}
	&__sizes {
	}
	&__sizes-body {
		margin-top: 1.87rem;
	}
	// .product-card__info-name
	&__info-name {
		order: -1;
		flex-shrink: 0;
	}
	// .product-card__info-value
	&__info-value {
		order: 1;
		flex-shrink: 0;
	}
	// .product-card__sideber
	&__sidebar {
		border-radius: 0.3125rem;
		border: rem(1) solid $lightGray;
		background: $lightBg;
		padding: 1.87rem;
	}
	// .product-card__side
	&__side {
		min-width: 0;
		width: 100%;
		@media (min-width: $md4) {
			width: 22.1875rem;
		}
		@media (min-width: $md3) {
			flex: 0 0 calc(100% - 32rem);
			width: auto;
		}
		@media (min-width: $md1) {
			position: sticky;
			flex: 0 0 auto;
			top: 1rem;
			width: 22.1875rem;
		}
		margin-left: auto;
		flex-shrink: 0;
		border-radius: 0.3125rem;
		border: rem(1) solid $lightGray;
		background: $lightBg;
		padding: 1.87rem;
	}
	// .product-card__side-caption
	&__side-caption {
		color: $darkBlue;
		font-size: 0.875rem;
		font-weight: 600;
	}
	// .product-card__side-labels
	&__side-labels {
		margin-top: 0.66rem;
		display: flex;
		flex-wrap: wrap;
		gap: 0.63rem;
	}
	// .product-card__side-label
	&__side-label {
		border-radius: 0.3125rem;
		border: rem(1) solid $lightBlue;
		padding: 0.45rem 0.875rem;
		color: $darkBlue;
		font-size: 0.8125rem;
		transition: border-color 0.3s ease 0s;
		&.product-card__side-label_active {
			font-weight: 600;
			font-size: 0.75rem;
			border: rem(1) solid $yellow;
		}
		@media (any-hover: hover) {
			&:hover {
				border: rem(1) solid $yellow;
			}
		}
	}
	// .product-card__side-hint
	&__side-hint {
		margin-top: 0.63rem;
		color: $lightBlue;
		font-size: 0.8125rem;
		display: flex;
		align-items: center;
		gap: 0.63rem;
		&::before {
			width: 1rem;
			height: 1rem;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1rem;
		}
		& a {
			text-decoration: underline;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	// .product-card__characteristics
	&__characteristics {
		margin-top: 1.91rem;
	}
	// .product-card__characteristics-item
	&__characteristics-item {
		&:not(:last-child) {
			margin-bottom: 0.62rem;
		}
		display: grid;
		grid-template-columns: 69% 1fr;
		gap: 0.35rem;
		font-size: 0.8125rem;
	}
	// .product-card__characteristics-name
	&__characteristics-name {
		text-align: left;
		color: $darkBlue;

		display: flex;
		align-items: center;
		gap: 0.62rem;
		&::before {
			@extend %ic, .icon-tick-circle;
			font-size: 1.05rem;
			color: $lightBlue;
			width: 1rem;
			height: 1rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	// .product-card__characteristics-value
	&__characteristics-value {
		text-align: right;
		&.text-uppercase {
			font-size: 0.75rem;
		}
		&[href] {
			text-decoration: underline;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	// .product-card__price
	&__price {
		margin-top: 1.87rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 0.63rem;
	}
	// .product-card__price-old
	&__price-old {
		color: $lightBlue;
		font-size: 1rem;
		font-weight: 600;
		text-decoration: line-through;
	}
	// .product-card__price-saving
	&__price-saving {
		color: $white;
		background: $green;
		font-size: 0.8125rem;
		padding: 0.5rem 0.62rem;
		border-radius: 0.3125rem;
	}
	// .product-card__price-current
	&__price-current {
		margin-top: 0.22rem;
		flex: 0 0 100%;
		font-size: 1.9375rem;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.62rem;
		& strong {
			font-weight: 600;
		}
	}
	// .product-card__more
	&__more {
		margin-top: 1.25rem;
		display: flex;
		gap: 0.63rem;
		& + .product-card__cart {
			margin-top: rem(20);
		}
	}
	// .product-card__more-btn
	&__more-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 0.3125rem;
		padding: 0.4rem 0.9rem;
		color: $darkBlue;
		border: rem(1) solid $lightBlue;
		flex: 1 1 auto;
		font-size: 0.8125rem;
		transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background: $lightBlue;
				color: $white;
			}
		}
		&.icon-whatsapp {
			flex: 0 1 auto;
			color: $white;
			background: #67d449;
			font-size: 1.125rem;
			border: 0;
			@media (any-hover: hover) {
				&:hover {
					background: darken($color: #67d449, $amount: 10);
				}
			}
		}
		&.icon-telegram {
			flex: 0 1 auto;
			background: #4ea4f6;
			color: $white;
			border: 0;
			@media (any-hover: hover) {
				&:hover {
					background: darken($color: #4ea4f6, $amount: 10);
				}
			}
		}
	}
	// .product-card__footer
	&__footer {
		margin-top: 1.25rem;
	}
	// .product-card__cart
	&__cart {
		width: 100%;
		min-height: 4rem;
		font-size: 1rem;
		&.hidden {
			display: none;
		}
	}
	// .product-card__cart-actions
	&__cart-actions {
		margin-top: rem(20);
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem(10);
	}
	// .product-card__cart-btn
	&__cart-btn {
		min-height: 4rem;
		padding-inline: 1rem;
		&::before {
			font-size: 1.25rem;
		}
	}
	// .product-card__tags
	&__tags {
		margin-top: 2.5rem;
		@media (min-width: $md5) {
			margin-top: 1.2rem;
		}
		display: flex;
		flex-wrap: wrap;
		gap: 0.62rem;
	}
	// .product-card__tag
	&__tag {
		display: block;
		transition: background-color 0.3s ease 0s;
		background: $lightGray;
		color: $darkBlue;
		font-size: 0.8125rem;
		padding: 0.69rem 1.25rem;
		border-radius: 0.3125rem;
		@media (any-hover: hover) {
			&:hover {
				background: $yellow;
			}
		}
	}
	// .product-card__products
	&__products {
		display: flex;
		flex-direction: column;
		margin-top: 3rem;
		@media (min-width: $md5) {
			margin-top: 1.87rem;
		}
	}
	// .product-card__products-header
	&__products-header {
		display: contents;
		@media (min-width: $md4) {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			border-bottom: rem(1) solid $grayStroke;
			padding-bottom: 0.5rem;
			min-height: rem(41);
		}
	}
	// .product-card__filters
	&__filters {
		border-bottom: rem(1) solid $grayStroke;
		display: flex;
		justify-content: space-between;
		padding-bottom: 0.85rem;

		@media (min-width: $md4) {
			border-bottom: 0;
			padding-bottom: 0;
		}
	}
	// .product-card__filtes-items
	&__filters-items {
		gap: 1rem;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-self: flex-end;
		&.active {
			.product-card__filter {
				display: flex;
			}
		}
		@media (min-width: $md5) {
			flex-direction: row;
			gap: 2.5rem;
		}
	}
	// .product-card__filtes-more
	&__filters-more {
		width: 1.5rem;
		height: 1.5rem;
		transform: rotate(90deg);
		color: $darkBlue;
		transition: transform 0.3s ease 0s;
		&.active {
			transform: rotate(270deg);
		}
	}
	// .product-card__filter
	&__filter {
		font-family: $font-din;
		font-size: 1.3125rem;

		font-weight: 700;
		line-height: 100%;
		gap: 0.62rem;
		&.active {
			display: flex;
		}
		display: none;
		@media (min-width: $md5) {
			display: flex;
		}
		@media (min-width: $md5) {
			padding-bottom: 0.75rem;
			margin-bottom: -1rem;
			font-size: 1.5rem;
			&.active {
				border-bottom: 0.25rem solid $yellow;
			}
			@media (any-hover: hover) {
				&:hover {
					border-bottom: 0.25rem solid $yellow;
				}
			}
		}
		@media (min-width: $md4) {
			margin-bottom: -2.5rem;
		}
	}

	// .product-card__quantity
	&__quantity {
		color: $lightBlue;
		font-family: $font-din;
		font-size: 1rem;
		font-weight: 500;
		line-height: 100%;
	}
	// .product-card__contorls
	&__contorls {
		display: flex;
		gap: 1.25rem;
		align-items: center;
		margin: rem(20) em(0) em(0) em(0);
		order: 1;
		@media (min-width: $md4) {
			order: 0;
			margin: 0;
		}
	}
	// .product-card__prev
	&__prev {
	}
	// .product-card__pagination
	&__pagination {
		color: $darkBlue;
		font-size: 0.8125rem;
		text-align: center;
	}
	// .product-card__next
	&__next {
	}

	// .product-card__items
	&__items {
		padding: 1.25rem 0;
		width: 100%;
		max-width: 100%;
		overflow: visible;
		@media (min-width: $md5) {
			overflow: hidden;
		}
		&.destroyed {
			& > .swiper-wrapper {
				display: contents;
			}
			display: grid;
			gap: rem(20);
			grid-template-columns: repeat(2, 1fr);
			@media (min-width: $md4) {
				grid-template-columns: repeat(3, 1fr);
			}
			@media (min-width: $md3) {
				grid-template-columns: repeat(4, 1fr);
			}
			@media (min-width: $md1) {
				grid-template-columns: repeat(5, 1fr);
			}
			@media (min-width: $md0) {
				grid-template-columns: repeat(6, 1fr);
			}
		}
	}
	// .product-card__desc
	&__desc {
		margin-top: 2.5rem;
		@media (min-width: $md5) {
			margin-top: 1.87rem;
		}
	}
	// .product-card__caption
	&__caption {
		color: $dark;
		font-family: $font-din;
		font-weight: 700;
		line-height: 100%;
		display: flex;
		gap: 0.63rem;
		font-size: 1.3125rem;
		@media (min-width: $md5) {
			font-size: 1.5rem;
		}
	}
	// .product-card__desc-text
	&__desc-text {
		margin-top: 1.25rem;
		color: $darkBlue;
		font-size: 0.8125rem;
		& p {
			&:not(:last-child) {
				margin-bottom: 1rem;
			}
		}
	}
	// .product-card__desc-heading
	&__desc-heading {
		margin-top: 1.35rem;
		color: $darkBlue;
		font-size: 0.875rem;
		font-weight: 600;
	}
	// .product-card__desc-list
	&__desc-list {
		margin-top: 1.25rem;
		color: $darkBlue;
		font-size: 0.8125rem;
		& li {
			&::before {
				@extend %ic, .icon-tick-circle;
				color: $lightBlue;
			}
			display: flex;
			align-items: center;
			gap: 0.62rem;
			&:not(:last-child) {
				margin-bottom: 0.63rem;
			}
		}
	}
	// .product-card__desc-more
	&__desc-more {
		margin-top: 1.25rem;
		display: inline-flex;
		gap: 0.63rem;
		color: $lightBlue;
		font-size: 0.8125rem;
		padding-right: 1.5rem;
		position: relative;
		text-decoration: underline;
		&::before {
			position: absolute;
			top: 50%;
			right: 0;
			transform: rotate(90deg) translateX(-50%);
			order: 1;
			width: 1rem;
			height: 1rem;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
		&.active {
			&::before {
				transform: rotate(-90deg) translateX(50%);
			}
		}
	}
	// .product-card__more-block
	&__more-block {
		display: none;
	}
	// .product-card__docs
	&__docs {
		margin-top: 2.5rem;
		@media (min-width: $md5) {
			margin-top: 1.87rem;
		}
	}
	// .product-card__docs-list
	&__docs-list {
		display: grid;
		max-width: rem(730);
		margin-top: 1.25rem;
		gap: rem(16);
		@media (min-width: $md5) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: $md4) {
			row-gap: 1rem;
			gap: 1.25rem;
		}
	}
	// .product-card__docs-item
	&__docs-item {
	}
	// .product-card__docs-link
	&__docs-link {
		padding-left: 2.5rem;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		width: fit-content;
		&::before {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 1.5rem;
			height: 1.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.25rem;
			color: $lightBlue;
		}
		@media (any-hover: hover) {
			&:hover {
				.product-card__docs-name {
					text-decoration: none;
				}
			}
		}
	}
	// .product-card__docs-name
	&__docs-name {
		color: $blue;
		font-size: 0.8125rem;
		text-decoration: underline;
	}
	// .product-card__docs-format
	&__docs-format {
		margin-top: 0.31rem;
		color: $lightBlue;
		font-size: 0.8125rem;
	}
	&__loadmore {
		align-self: flex-start;
		order: 2;
		display: inline-block;
		color: $lightBlue;
		font-size: 0.8125rem;
		padding-right: 1.5rem;
		position: relative;
		text-decoration: underline;
		&::before {
			position: absolute;
			top: 50%;
			right: 0;
			transform: rotate(90deg) translateX(-50%);
			order: 1;
			width: 1rem;
			height: 1rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
		&.active {
			&::before {
				transform: rotate(-90deg) translateX(50%);
			}
		}
	}
	// .product-card__offers
	&__offers {
		margin-top: 1.88rem;
	}
	// .product-card__caption
	&__caption {
	}
	// .product-card__offers-content
	&__offers-content {
		margin-top: 1.25rem;
		overflow-x: auto;
		padding-bottom: 1.25rem;
		@media (max-width: $md5) {
			margin-right: -1rem;
			padding-right: 1rem;
		}
		&::-webkit-scrollbar {
			height: rem(8);
		}
		&::-webkit-scrollbar-track {
			background: #f2f5f9;
			border-radius: rem(8);
		}
		&::-webkit-scrollbar-thumb {
			background: #ced6e0;
			border-radius: rem(8);
			@media (any-hover: hover) {
				&:hover {
					background: $yellow;
				}
			}
		}
		& table {
			width: rem(1480);
		}
		& th,
		td {
			&:nth-child(1) {
				width: 8.2rem;
			}
			&:nth-child(2) {
				width: 44%;
			}
			&:nth-child(3) {
				// width: 10%;
			}
			&:nth-child(4) {
			}
			&:nth-child(5) {
			}
			&:nth-child(6) {
			}
			&:nth-child(7) {
			}
			&:nth-child(8) {
				width: 0.75rem;
			}
		}
	}
}
