.rules {
	counter-reset: section 1;
	padding: 4.5rem 0 3.75rem;
	@media (min-width: $md5) {
		padding: 6.75rem 0 3.75rem;
	}
	@media (min-width: $md2) {
		padding: 9rem 0 3.75rem;
		background: url("@img/decor/rules-splashes.svg") 100% 9.5% / 53% auto no-repeat;
	}
	// .rules__container
	&__container {
	}
	// .rules__content
	&__content {
		counter-reset: title-counter;
		max-width: 49rem;
		margin-top: 1.75rem;
		@media (min-width: $md5) {
			margin-top: 2.5rem;
		}
		@media (min-width: $md2) {
			max-width: 56.625rem;
			margin-top: 3.75rem;
		}
		& h1 {
			font-family: $font-tanker;
			line-height: 120%;
			font-size: 3.75rem;
			@media (min-width: $md5) {
				font-size: 4.5rem;
			}
			@media (min-width: $md2) {
				font-size: 5.625rem;
			}
		}
		& h2 {
			font-family: $font-tanker;
			line-height: 120%;
			font-size: 1.5rem;
			margin-top: 1rem;
			@media (min-width: $md5) {
				margin-top: 1.5rem;
				font-size: 2.5rem;
			}
			@media (min-width: $md2) {
				font-size: 3rem;
			}
			& + h3 {
				margin-top: 1.5rem;
			}
		}
		& h3 {
			margin-top: rem(40);
			font-weight: 600;
			line-height: 120%;
			& + p {
				margin-top: 0.75rem;
			}
			font-size: 1.5rem;
			@media (min-width: $md5) {
				margin-top: 2.5rem;
				font-size: 1.75rem;
			}
			@media (min-width: $md2) {
				margin-right: -4rem;
				margin-top: 3.75rem;
				font-size: 2.25rem;
			}
		}
		// & h4 {
		// 	font-weight: 600;
		// 	line-height: 120%;
		// 	display: flex;
		// 	align-items: flex-start;
		// 	gap: 0.5rem;
		// 	font-size: 1.5rem;
		// 	margin-top: 1.5rem;
		// 	@media (min-width: $md5) {
		// 		margin-top: 2.5rem;
		// 		font-size: 1.75rem;
		// 	}
		// 	@media (min-width: $md2) {
		// 		margin-top: 3.75rem;
		// 		font-size: 2.25rem;
		// 	}
		// 	// counter-increment: title-counter;
		// 	// &::before {
		// 	// 	content: counter(title-counter) ".";
		// 	// }
		// }
		& ul {
			font-size: 0.875rem;
			margin-top: 1rem;
			line-height: 160%;
			@media (min-width: $md5) {
				line-height: 140%;
				margin-top: 1.5rem;
				font-size: 1rem;
			}
			@media (min-width: $md2) {
				font-size: 1.125rem;
			}
			& li {
				// display: flex;
				// align-items: flex-start;
				// gap: 0.75rem;
				position: relative;
				padding-left: 1.375rem;
				&::after {
					content: "";
					position: absolute;
					top: 0.44rem;
					left: 0;
					// margin-top: 0.44rem;
					display: flex;
					flex-shrink: 0;
					width: 0.625rem;
					height: 0.625rem;
					border-radius: 50%;
					background: $accent;
				}
				&:not(:first-child) {
					margin-top: 0.7rem;
					@media (min-width: $md2) {
						margin-top: 1rem;
					}
				}
				& strong {
					color: $accent;
				}
			}
			& + h2 {
				margin-top: 2.5rem;
				@media (min-width: $md2) {
					margin-top: 3.75rem;
				}
			}
		}
		& p {
			font-size: 0.87rem;
			line-height: 160%;
			margin-top: 1.4rem;
			@media (min-width: $md5) {
				margin-top: 1.52rem;
				line-height: 120%;
				font-size: 1rem;
			}
			@media (min-width: $md2) {
				line-height: 140%;
				font-size: 1.125rem;
			}
			& strong {
				font-weight: 600;
				color: $accent;
			}
		}

		& ol {
			margin-top: 1.5rem;
			counter-reset: listItem;

			& > li {
				position: relative;
				padding-left: 2.15rem;
				font-size: 0.875rem;
				line-height: 160%;
				@media (min-width: $md5) {
					font-size: 1rem;
					line-height: 120%;
				}
				@media (min-width: $md2) {
					line-height: 140%;
					font-size: 1.125rem;
				}
				&::before {
					position: absolute;
					top: 0.15rem;
					left: 0;
					content: counter(listItem) ".";
					counter-increment: listItem;
					color: rgba($color: #fff, $alpha: 0.6);
					font-weight: 600;
					line-height: 120%;
				}
				&:not(:first-child) {
					margin-top: 0.75rem;
					@media (min-width: $md2) {
						margin-top: 1rem;
					}
				}
			}

			& ul {
				margin-top: 0.35rem;
				& li {
					display: inline-block;
					&::before {
						content: "—";
						margin-right: 0.25rem;
					}
					&::after {
						display: none;
					}
					&:not(:first-child) {
						margin-top: 0rem;
					}
				}
			}
			&:not(:first-of-type) {
				counter-increment: section;
				counter-reset: listItem;
			}
		}

		& a {
			transition: color 0.3s ease 0s;
			color: $accent;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
