@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?fy2bq6');
  src:  url('fonts/icons.eot?fy2bq6#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?fy2bq6') format('truetype'),
    url('fonts/icons.woff?fy2bq6') format('woff'),
    url('fonts/icons.svg?fy2bq6#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check-sm:before {
  content: "\e911";
}
.icon-chevron:before {
  content: "\e912";
}
.icon-check:before {
  content: "\e90f";
}
.icon-arrow-short:before {
  content: "\e90e";
}
.icon-information:before {
  content: "\e910";
}
.icon-close-sm:before {
  content: "\e90d";
}
.icon-close:before {
  content: "\e90c";
}
.icon-mark:before {
  content: "\e90b";
}
.icon-arrow:before {
  content: "\e900";
}
.icon-calendar:before {
  content: "\e901";
}
.icon-cloud:before {
  content: "\e902";
}
.icon-eye:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-info:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-location:before {
  content: "\e907";
}
.icon-minus:before {
  content: "\e908";
}
.icon-phone:before {
  content: "\e909";
}
.icon-plus:before {
  content: "\e90a";
}
