@font-face {
  font-family: "DinPro";
  font-display: swap;
  src: url("../fonts/DinPro-Bold.woff2") format("woff2"), url("../fonts/DinPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DinPro";
  font-display: swap;
  src: url("../fonts/DinPro-Medium.woff2") format("woff2"), url("../fonts/DinPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.swiper-button-next,
.swiper-button-prev,
[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  display: block;
}

.icon-arrow:before,
.swiper-button-next:before,
.swiper-button-prev:before {
  content: "\e900";
}

.icon-cart:before {
  content: "\e901";
}

.icon-compare:before {
  content: "\e902";
}

.icon-currency:before {
  content: "\e903";
}

.icon-globe:before {
  content: "\e904";
}

.icon-location:before {
  content: "\e905";
}

.icon-search:before {
  content: "\e906";
}

.icon-star:before {
  content: "\e907";
}

.icon-user:before {
  content: "\e908";
}

body {
  font-family: "Inter", sans-serif;
  color: #1d1d1d;
  font-size: 1rem;
  min-width: 320px;
  min-height: 100%;
  line-height: normal;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

[class*=__container] {
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 100%;
  max-width: 92.5rem;
  padding: 0 1rem;
}

.title {
  font-size: 2.1875rem;
  font-weight: 600;
}

.title-lg {
  font-size: 3.75rem;
  font-weight: 600;
}

.swiper-button-next,
.swiper-button-prev {
  position: static;
  top: auto;
  left: auto;
  margin: 0;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  color: inherit;
  border-radius: 50%;
  border: 0.09375rem solid currentColor;
  width: 3.75rem;
  height: 3.75rem;
  font-size: 1.75rem;
  -webkit-transition: color 0.3s ease 0s, opacity 0.3s ease 0s, background-color 0.3s ease 0s, border-color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s, opacity 0.3s ease 0s, background-color 0.3s ease 0s, border-color 0.3s ease 0s;
  transition: color 0.3s ease 0s, opacity 0.3s ease 0s, background-color 0.3s ease 0s, border-color 0.3s ease 0s;
  z-index: 2;
}

.swiper-button-next::before,
.swiper-button-prev::before {
  color: currentColor;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next:disabled,
.swiper-button-next[aria-disabled=true],
.swiper-button-prev:disabled,
.swiper-button-prev[aria-disabled=true] {
  opacity: 0.5;
  color: #1d1d1d;
}

.swiper-button-prev::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.swiper-pagination {
  margin-top: 1.25rem;
  position: static;
  bottom: auto;
  padding: 0.75rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-pagination .swiper-pagination-bullet {
  position: relative;
  width: 0.3125rem;
  height: 0.3125rem;
  opacity: 1;
  color: #737474;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  background: currentColor;
  --swiper-pagination-bullet-horizontal-gap: 0.625rem;
  color: #737474;
  display: block;
}

.swiper-pagination .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(0) translate(-50%, -50%);
      -ms-transform: scale(0) translate(-50%, -50%);
          transform: scale(0) translate(-50%, -50%);
  border: 1px solid currentColor;
  width: 1.3125rem;
  height: 1.3125rem;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.2s linear 0s;
  transition: -webkit-transform 0.2s linear 0s;
  -o-transition: transform 0.2s linear 0s;
  transition: transform 0.2s linear 0s;
  transition: transform 0.2s linear 0s, -webkit-transform 0.2s linear 0s;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
}

.swiper-pagination .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  width: 1.3125rem;
  height: 1.3125rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  color: #1371d5;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  -webkit-transform: scale(1) translate(-50%, -50%);
      -ms-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
}

._loading::after,
.form._sending button[type=submit]::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: inherit;
  z-index: 2;
}

._loading::before,
.form._sending button[type=submit]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border: 3px solid currentColor;
  border-bottom-color: transparent;
  border-radius: 50%;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: rotation 1s linear infinite;
          animation: rotation 1s linear infinite;
  z-index: 3;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #f7ce46;
  border-radius: 0.5rem;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.cover-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__row:not(:last-child) {
  margin-bottom: 0.5rem;
}

.form__row .checkbox__content::before {
  color: #fff;
}

.form__field {
  position: relative;
  border-radius: 0.75rem;
}

.form__field._error + .form__error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
  color: #f7ce46;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.form__input,
.form__date {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  -webkit-transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
  -o-transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
  transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
  width: 100%;
  border: 1px solid #f8f8f8;
  color: #323c42;
  background: #fff;
  border-radius: 0.75rem;
  line-height: 1.625;
  padding: 0.8875rem 1rem;
  caret-color: #232c32;
  font-size: 1rem;
}

.form__input._input,
._input.form__date {
  padding: 1.2625rem 1rem 0.5125rem;
}

.form__input._input + .form__field-placeholder,
._input.form__date + .form__field-placeholder {
  font-size: 0.75rem;
  top: 0.25rem;
  color: #646d70;
  -webkit-transition: top 0.3s ease 0s, font-size 0.3s ease 0s;
  -o-transition: top 0.3s ease 0s, font-size 0.3s ease 0s;
  transition: top 0.3s ease 0s, font-size 0.3s ease 0s;
}

.form__input:-webkit-autofill + .form__field-placeholder,
.form__date:-webkit-autofill + .form__field-placeholder,
.form__input:not(:placeholder-shown) + .form__field-placeholder,
.form__date:not(:placeholder-shown) + .form__field-placeholder {
  font-size: 0.75rem;
  top: 0.25rem;
}

.form__input:hover,
.form__date:hover,
.form__input:focus,
.form__date:focus {
  border-color: #039;
}

.form__input::-webkit-input-placeholder, .form__date::-webkit-input-placeholder {
  color: #89939e;
  opacity: 1;
}

.form__input::-moz-placeholder, .form__date::-moz-placeholder {
  color: #89939e;
  opacity: 1;
}

.form__input:-ms-input-placeholder, .form__date:-ms-input-placeholder {
  color: #89939e;
  opacity: 1;
}

.form__input::-ms-input-placeholder, .form__date::-ms-input-placeholder {
  color: #89939e;
  opacity: 1;
}

.form__input::placeholder,
.form__date::placeholder {
  color: #89939e;
  opacity: 1;
}

.form__input:disabled,
.form__date:disabled {
  background: #ddd;
  border-color: #ddd;
}

.form__input._error,
._error.form__date {
  background: #fff;
  border-color: #ba2028;
}

.form__textarea {
  resize: vertical;
  height: 5.9375rem;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  -webkit-transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
  -o-transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
  transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
  width: 100%;
  border: 1px solid #f8f8f8;
  color: #323c42;
  background: #fff;
  border-radius: 0.75rem;
  line-height: 1.625;
  padding: 1rem 1rem;
  caret-color: #232c32;
  font-size: 1rem;
}

.form__textarea._input {
  padding: 1.2625rem 1rem 0.5125rem;
}

.form__textarea:-webkit-autofill + .form__field-placeholder,
.form__textarea:not(:placeholder-shown) + .form__field-placeholder {
  font-size: 0.75rem;
  top: 0.25rem;
  background: #fff;
  color: #646d70;
  border-radius: 0.75rem;
}

.form__textarea:hover,
.form__textarea:focus {
  border-color: #039;
}

.form__textarea::-webkit-input-placeholder {
  color: #89939e;
  opacity: 1;
}

.form__textarea::-moz-placeholder {
  color: #89939e;
  opacity: 1;
}

.form__textarea:-ms-input-placeholder {
  color: #89939e;
  opacity: 1;
}

.form__textarea::-ms-input-placeholder {
  color: #89939e;
  opacity: 1;
}

.form__textarea::placeholder {
  color: #89939e;
  opacity: 1;
}

.form__textarea:disabled {
  background: #dfe0e1;
  border-color: #dfe0e1;
}

.form__textarea._error {
  background: #fff1ed;
  border-color: #fff1ed;
}

.form__field-placeholder {
  position: absolute;
  top: 1rem;
  left: 0.3125rem;
  padding: 0 0.75rem;
  color: #b6bbc0;
  display: block;
  -webkit-transition: top 0.3s ease 0s, font-size 0.3s ease 0s;
  -o-transition: top 0.3s ease 0s, font-size 0.3s ease 0s;
  transition: top 0.3s ease 0s, font-size 0.3s ease 0s;
  font-size: 1rem;
  pointer-events: none;
  width: calc(100% - 0.625rem);
}

.form__error {
  margin-top: 0.5rem;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
  color: #ba2028;
  font-size: 0.75rem;
  line-height: 1.4;
}

.form__error::before {
  font-size: 0.5rem;
  width: 1rem;
  height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__checkbox {
  display: block;
}

.form__checkbox.form__checkbox-white .form__checkbox-input:checked + .form__checkbox-content::before {
  background-color: #fff;
  border-color: #fff;
}

.form__checkbox.form__checkbox-white .form__checkbox-content::before {
  border-color: #fff;
  color: #1d1d1d;
}

.form__checkbox-input._error + .form__checkbox-content::before {
  border-color: #ba2028;
  background: #fff1ed;
}

.form__checkbox-input:checked + .form__checkbox-content::before {
  background-color: #323c42;
  border-color: #323c42;
}

.form__checkbox-input:checked._error + .form__checkbox-content::before {
  background-color: #323c42;
  border-color: #323c42;
}

.form__checkbox-content {
  position: relative;
  line-height: 1.6;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: left;
  font-size: 0.75rem;
  padding: 0em 0em 0em 1.63rem;
}

.form__checkbox-content::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  border-radius: 0.375rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #b6bbc0;
  width: 1.125rem;
  height: 1.125rem;
  font-size: 0.5rem;
}

.form__privacy-link {
  text-decoration: underline;
}

.form__delivery {
  margin: 1rem 0 1.5rem;
}

.form__delivery-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  line-height: 120%;
  font-size: 1.125rem;
}

.form__delivery-caption {
  margin-right: 1.69rem;
}

.form__delivery-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.69rem;
}

.form__delivery-subtitle {
  margin-top: 0.75rem;
  color: #4770ff;
  line-height: 160%;
  font-size: 0.625rem;
}

.form__btn {
  margin-top: 1.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.form__title {
  font-family: "DinPro";
  line-height: 120%;
  font-size: 1.5rem;
}

.form__grid {
  display: -ms-grid;
  display: grid;
  margin-top: 1.75rem;
  gap: 0.75rem;
}

.form__maxlength {
  margin-top: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #768489;
  text-align: right;
  line-height: 140%;
  padding: 0 1.19rem 0 0;
  font-size: 0.625rem;
}

.form__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.91rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
}

.form__caption {
  margin-bottom: 1rem;
}

.form__section:not(:last-child) {
  margin-bottom: 2rem;
}

.form__section-title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 1rem;
}

.form__section-subtitle {
  margin-top: -0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
  font-size: 0.75rem;
  line-height: 140%;
}

.form__section-subtitle::before {
  font-size: 1rem;
  color: #b6bbc0;
}

.form__price {
  font-family: "DinPro";
  font-size: 2rem;
  line-height: 120%;
}

.form__price span {
  color: #f7ce46;
}

.form__boat-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.form__boat-image {
  border-radius: 0.5rem;
  border: 0.0625rem solid #e6ecf8;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4.5625rem;
  height: 4.25rem;
  padding: 0.6rem;
}

.form__boat-name {
  font-weight: 600;
  line-height: 120%;
  font-size: 0.875rem;
}

.form__boat-text {
  margin-top: 0.94rem;
  line-height: 140%;
  font-size: 1rem;
}

.form__boat-info {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.35rem;
  line-height: 160%;
  font-size: 0.75rem;
}

.form__boat-info::before {
  color: #b6bbc0;
}

.form__instructor {
  margin-top: 1.13rem;
  border-radius: 0.375rem;
  background: #e6edf8;
  padding: 0.75rem 0.94rem 0.5rem;
}

.form__instructor-name {
  font-size: 1rem;
  line-height: 120%;
}

.form__instructor-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  margin-top: 0.5rem;
}

.form__instructor-phone {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  font-size: 1rem;
  font-weight: 700;
  line-height: 160%;
}

.form__instructor-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
}

.form__spollers {
  margin-top: 1rem;
}

.form__spoller:not(:last-child) {
  margin-bottom: 1rem;
}

.form__spoller-btn {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 120%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.form__spoller-btn::before {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  background: #4770ff;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s, background-color 0.3s ease 0s;
  transition: transform 0.3s ease 0s, background-color 0.3s ease 0s;
  transition: transform 0.3s ease 0s, background-color 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.form__spoller-btn._active::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.form__spoller-body {
  margin-top: 1rem;
}

.form__spoller-body.pending {
  position: relative;
}

.form__spoller-body.pending::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(100% + 0.625rem);
  height: calc(100% + 0.625rem);
  backdrop-filter: blur(0.1875rem);
  -webkit-backdrop-filter: blur(0.1875rem);
  z-index: 2;
}

.form__spoller-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 0.25rem;
}

.form__online {
  border-radius: 0.75rem;
  background: #fff;
  padding: 0.78125rem 0.75rem;
}

.form__online-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__online-title {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 120%;
}

.form__online-body {
  margin-top: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form__online-text {
  line-height: 120%;
}

.form__online-price {
  color: #4770ff;
  font-size: 1.5rem;
  font-family: "DinPro";
  line-height: 120%;
}

.toggler__input:disabled + .toggler__btn {
  background: #dfe0e1;
  color: #fff;
}

.toggler__input:checked + .toggler__btn {
  background: #3b7cff;
  color: #fff;
  border-color: #3b7cff;
}

.toggler__input:checked + .toggler__btn::before {
  -webkit-transform: translate(1.375rem, -50%);
      -ms-transform: translate(1.375rem, -50%);
          transform: translate(1.375rem, -50%);
}

.toggler__btn {
  width: 3rem;
  height: 1.5rem;
  border-radius: 6.25rem;
  color: #3b7cff;
  border: 1px solid currentColor;
  background: #fff;
  position: relative;
  cursor: pointer;
  -webkit-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
}

.toggler__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 0.25rem;
  width: 1rem;
  height: 1rem;
  background: currentColor;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.option__input:checked + .option__content::before {
  border-color: #f7ce46;
  background: #f7ce46;
  -webkit-box-shadow: inset 0 0 0 0.3125rem #fff;
          box-shadow: inset 0 0 0 0.3125rem #fff;
}

.option__input:checked + .option__btn {
  background: #f7ce46;
  color: #fff;
}

.option__input:disabled + .option__btn {
  pointer-events: none;
  border-radius: 0.75rem;
  border: 0.0625rem solid #dfe0e1;
  color: #9aa2a9;
}

.option__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  cursor: pointer;
}

.option__content::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s, border-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s, border-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s, border-color 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 0.0625rem solid #b6bbc0;
}

.option__btn {
  border: 0.0625rem solid #4770ff;
  background: #fff;
  display: block;
  line-height: 160%;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  padding: 0.5rem 0.31rem;
  font-size: 0.75rem;
  border-radius: 0.75rem;
  -webkit-transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
}

.btn {
  position: relative;
  z-index: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 0.3125rem;
  font-size: 1rem;
  font-weight: 600;
  padding: 1.09rem 1.88rem;
}

.btn.btn-primary {
  background: #f7ce46;
  color: #1d1d1d;
  border: 0.0625rem solid #f7ce46;
}

.btn.btn-primary:hover {
  background: #fff;
}

.btn.btn-primary:disabled,
.btn.btn-primary[aria-disabled=true] {
  background: #f1f2f4;
  border-color: #f1f2f4;
  color: #475569;
}

.btn.btn-sm {
  font-size: 1rem;
  padding: 1.1rem 1rem;
  min-width: 8.75em;
}

.btn:active {
  -webkit-transform: scale(0.975);
      -ms-transform: scale(0.975);
          transform: scale(0.975);
}

.btn:disabled,
.btn[aria-disabled=true] {
  cursor: default;
  pointer-events: none;
  opacity: 0.5;
}

.checkbox {
  display: block;
}

.checkbox:not(:last-child) {
  margin-bottom: 0.5rem;
}

.checkbox__input:checked + .checkbox__content::before {
  background: #4770ff;
  border-color: #4770ff;
}

.checkbox__content {
  position: relative;
  padding-left: 2rem;
  line-height: 160%;
  font-size: 0.75rem;
  gap: 0.5rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox__content::before {
  content: "";
  position: absolute;
  top: -0.1rem;
  left: 0;
  font-size: 0.5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1d1d1d;
  border: 0.125rem solid #b6bbc0;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 0.25rem;
}

.checkbox__content a {
  text-decoration: underline;
}

.header {
  padding: 1.875rem 0;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #475569;
  font-size: 0.875rem;
  gap: 0.63rem;
}

.header__top::before {
  width: 1rem;
  height: 1rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.header__language::before {
  width: 1rem;
  height: 1rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.header__location::before {
  width: 1rem;
  height: 1rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.header__body {
  margin-top: 2.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.header__catalog {
  border-radius: 0.3125rem;
  background: #f7ce46;
  color: #1d1d1d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 0.62rem;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.69rem 1rem;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.63rem;
}

.header__action {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.375rem;
  height: 2.375rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #f7ce46;
  background: #fff;
  color: #475569;
  position: relative;
  -webkit-transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
}

.header__action-quantity {
  position: absolute;
  bottom: -0.56rem;
  right: -0.56rem;
  color: #fff;
  text-align: center;
  border-radius: 0.3125rem;
  background: #10b981;
  font-size: 0.625rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.304em;
}

.header__phone {
  font-family: "DinPro";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 100%;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  opacity: 0;
  visibility: hidden;
  background: rgba(22, 28, 36, 0.6);
  z-index: 6;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
  transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
}

.header.open-menu .menu {
  opacity: 1;
  visibility: visible;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.menu__link {
  display: block;
  position: relative;
}

.menu__link::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0.0625rem;
  background: currentColor;
  -webkit-transition: width 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}

.menu__link:hover::before {
  width: 100%;
}

.menu__link:active {
  color: inherit;
}

.menu__link:active::before {
  width: 100%;
}

.menu__link.active {
  color: #1d1d1d;
}

.menu__link.active::before {
  width: 100%;
}

.icon-menu {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  min-width: 2.625rem;
  height: 1.5625rem;
  z-index: 11;
  margin-left: auto;
}

.icon-menu span {
  display: block;
  padding: 0.28125rem 0rem;
  width: 100%;
  -webkit-transition: opacity 0.4s ease 0.4s, -webkit-transform 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s, -webkit-transform 0.4s ease 0.4s;
  -o-transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
  transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
  transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s, -webkit-transform 0.4s ease 0.4s;
  will-change: transform;
}

.icon-menu span::before {
  content: "";
  display: block;
  height: 0.125rem;
  width: 100%;
  margin-left: auto;
  background: currentColor;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  will-change: transform;
}

.icon-menu span:first-child::before {
  width: 92%;
}

.icon-menu span:nth-child(2)::before {
  width: 82%;
}

.header.open-menu .icon-menu span {
  -webkit-transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
  transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
  transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.header.open-menu .icon-menu span::before {
  -webkit-transition: width 0.3s ease 0s, -webkit-transform 0.45s ease 0.35s;
  transition: width 0.3s ease 0s, -webkit-transform 0.45s ease 0.35s;
  -o-transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
  transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
  transition: transform 0.45s ease 0.35s, width 0.3s ease 0s, -webkit-transform 0.45s ease 0.35s;
  width: 90%;
  background: #142356;
}

.header.open-menu .icon-menu span:first-child {
  -webkit-transform: translateY(0.71875rem);
      -ms-transform: translateY(0.71875rem);
          transform: translateY(0.71875rem);
}

.header.open-menu .icon-menu span:first-child::before {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.header.open-menu .icon-menu span:nth-child(2) {
  opacity: 0;
}

.header.open-menu .icon-menu span:nth-child(3) {
  -webkit-transform: translateY(-0.71875rem);
      -ms-transform: translateY(-0.71875rem);
          transform: translateY(-0.71875rem);
}

.header.open-menu .icon-menu span:nth-child(3)::before {
  -webkit-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.search {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__form-input {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  font-size: 0.875rem;
  border-radius: 0.3125rem 0 0 0.3125rem;
  border: 0.0625rem solid #f7ce46;
  background: #fff;
  color: #1d1d1d;
  width: 100%;
  padding: 0.66rem 1rem;
}

.search__form-input::-webkit-input-placeholder {
  color: #94a3b8;
  opacity: 1;
}

.search__form-input::-moz-placeholder {
  color: #94a3b8;
  opacity: 1;
}

.search__form-input:-ms-input-placeholder {
  color: #94a3b8;
  opacity: 1;
}

.search__form-input::-ms-input-placeholder {
  color: #94a3b8;
  opacity: 1;
}

.search__form-input::placeholder {
  color: #94a3b8;
  opacity: 1;
}

.search__btn {
  border-radius: 0rem 0.3125rem 0.3125rem 0rem;
  background: #f7ce46;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.44rem 1rem;
}

.footer {
  position: relative;
  padding: 2.5rem 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.5rem;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo {
  max-width: 4rem;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.footer__info {
  -webkit-transition-delay: 385ms;
       -o-transition-delay: 385ms;
          transition-delay: 385ms;
  line-height: 140%;
  font-size: 0.875rem;
}

.footer__terms {
  margin-top: 0.19rem;
  font-size: 0.875rem;
  line-height: 160%;
}

.footer__terms-link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-underline-offset: 0.25rem;
}

.footer__contacts {
  -webkit-transition-delay: 450ms;
       -o-transition-delay: 450ms;
          transition-delay: 450ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
}

.footer__contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  row-gap: 0.3rem;
}

.footer__contacts-link {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer__menu {
  -webkit-transition-delay: 550ms;
       -o-transition-delay: 550ms;
          transition-delay: 550ms;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.footer__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  gap: 0.75rem;
}

.footer__menu-link {
  display: inline-block;
  padding: 0.31rem 0;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer__socials {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-transition-delay: 750ms;
       -o-transition-delay: 750ms;
          transition-delay: 750ms;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.promo__slider {
  position: relative;
  max-width: 100%;
}

.promo__slide {
  padding: 3.75rem 3.75rem 12.31rem;
  border-radius: 0.625rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), var(--banner-image) center 0/cover no-repeat, #2b2b2b;
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), var(--banner-image) center 0/cover no-repeat, #2b2b2b;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), var(--banner-image) center 0/cover no-repeat, #2b2b2b;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.promo__slider-title {
  color: #fff;
  text-align: right;
  font-family: "DinPro";
  font-size: 1.9375rem;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  max-width: 27rem;
}

.promo__btn {
  margin-top: 4.37rem;
}

.promo__pagination.swiper-pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  max-width: 64.375rem;
  z-index: 2;
  padding: 1.06rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.25rem;
     -moz-column-gap: 0.25rem;
          column-gap: 0.25rem;
}

.promo__pagination.swiper-pagination .swiper-pagination-bullet {
  background: #fff;
  margin: 0;
  opacity: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-radius: 0.3125rem;
  height: 0.375rem;
  position: relative;
}

.promo__pagination.swiper-pagination .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 0;
  border-radius: 0.3125rem;
  border: 0;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  color: #f7ce46;
  will-change: width;
  left: 0;
  width: 0;
  height: 100%;
  background: #f7ce46;
}

.promo__pagination.swiper-pagination .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 1.5rem;
  z-index: -1;
}

.promo__pagination.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  -webkit-animation: countingBar var(--counting-speed, 8s) linear 0s forwards;
          animation: countingBar var(--counting-speed, 8s) linear 0s forwards;
}

@-webkit-keyframes countingBar {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes countingBar {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@media (min-width: 575.98px) {
  [class*=__container] {
    padding: 0 2rem;
  }

  .swiper-pagination {
    margin-top: 0.75rem;
  }

  .form__delivery-header {
    font-size: 1.5rem;
  }

  .form__delivery-caption {
    margin-right: 2rem;
  }

  .form__delivery-options {
    gap: 2rem;
  }

  .form__delivery-subtitle {
    font-size: 0.875rem;
  }

  .form__title {
    font-size: 2.5rem;
  }

  .form__footer {
    margin-top: 0.5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .form__boat-image {
    width: 5.625rem;
    height: 5.625rem;
  }

  .form__boat-name {
    font-size: 1.125rem;
  }

  .form__boat-text {
    font-size: 1.125rem;
  }

  .form__boat-info {
    font-size: 0.875rem;
  }

  .form__spoller-list {
    gap: 0.5rem;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }

  .option__btn {
    font-size: 0.875rem;
  }

  .btn.btn-sm {
    min-width: 9.4375em;
    padding: 1.34rem 1rem;
  }

  .checkbox__content {
    gap: 0.75rem;
    font-size: 0.875rem;
  }

  .checkbox__content::before {
    border-radius: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  .menu__list {
    gap: 2.5rem;
  }

  .icon-menu {
    margin-left: 1.5rem;
  }

  .footer {
    padding: 5rem 0 5.22rem;
  }

  .footer__container {
    text-align: left;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .footer__logo {
    margin-right: 1.87rem;
  }

  .footer__contacts {
    font-size: 1rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-left: 0.0625rem solid rgba(255, 255, 255, 0.2);
    margin-left: 1.5rem;
    padding-left: 1.5rem;
  }

  .footer__menu {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .footer__menu-list {
    gap: 1.19rem;
  }

  .footer__socials {
    width: auto;
    margin-left: 2.94rem;
  }
}

@media (min-width: 766.98px) {
  .mobile-only {
    display: none;
  }

  .form__row.form__row_lg {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .form__field-placeholder {
    font-size: 0.875rem;
  }

  .form__checkbox-content {
    font-size: 0.875rem;
    padding: 0em 0em 0em 1.75rem;
  }

  .form__grid {
    gap: 1rem;
    margin-top: 2.94rem;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .form__maxlength {
    font-size: 0.75rem;
    padding: 0 3.12rem 0 0;
  }

  .promo__pagination.swiper-pagination {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}

@media (min-width: 991.98px) {
  .footer__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .footer__menu {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 0em 0em 0em auto;
  }
}

@media (min-width: 1199.98px) {
  body.lock {
    overflow: visible;
  }

  [class*=__container].container-sm {
    max-width: 70rem;
  }

  .tablet-only {
    display: none;
  }

  .form__field-placeholder {
    font-size: 1rem;
  }

  .form__checkbox-content {
    padding: 0em 0em 0em 2.25rem;
    font-size: 1rem;
  }

  .form__checkbox-content::before {
    font-size: 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  .form__title {
    font-size: 3rem;
  }

  .header.open-menu .menu {
    opacity: 1;
    visibility: visible;
  }

  .menu {
    position: static;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    padding: 0;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    overflow-x: visible;
    overflow-y: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: none;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    opacity: 1;
    visibility: visible;
    margin-left: auto;
  }

  .menu__list {
    gap: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .menu__link.active {
    color: inherit;
  }

  .icon-menu {
    display: none;
  }

  .footer {
    padding: 2.8rem 0 5.31rem;
  }

  .footer__logo {
    margin-right: 3.12rem;
    max-width: 7.1875rem;
  }

  .footer__info {
    font-size: 1.125rem;
  }

  .footer__contacts {
    margin-left: 2.88rem;
    padding-left: 2.88rem;
  }

  .footer__contacts-item:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .footer__menu-list {
    font-size: 1rem;
    gap: 2rem;
  }

  .footer__socials {
    margin-right: 2.5rem;
  }
}

@media (max-width: 1199.98px) {
  .desktop-only {
    display: none;
  }
}

@media (max-width: 766.98px) {
  .pc-only {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .form__date {
    font-size: 0.875rem;
  }

  .form__footer .btn {
    max-width: 100%;
    aspect-ratio: 4.1739130435;
  }

  .form__footer .btn::before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='288' height='69' viewBox='0 0 288 69' fill='none'%3E%3Cpath d='M0 15.6924C0 9.15722 5.17041 3.78327 11.7004 3.52097C113.807 -0.580396 169.372 -0.970599 276.184 2.26614C282.763 2.46548 288 7.85975 288 14.4412V51.9003C288 58.3707 282.934 63.7155 276.473 64.0599C170.586 69.7044 114.011 69.7115 11.6605 65.3117C5.14648 65.0317 0 59.6642 0 53.1441V15.6924Z' fill='%234770FF'/%3E%3C/svg%3E");
            mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='288' height='69' viewBox='0 0 288 69' fill='none'%3E%3Cpath d='M0 15.6924C0 9.15722 5.17041 3.78327 11.7004 3.52097C113.807 -0.580396 169.372 -0.970599 276.184 2.26614C282.763 2.46548 288 7.85975 288 14.4412V51.9003C288 58.3707 282.934 63.7155 276.473 64.0599C170.586 69.7044 114.011 69.7115 11.6605 65.3117C5.14648 65.0317 0 59.6642 0 53.1441V15.6924Z' fill='%234770FF'/%3E%3C/svg%3E");
    -webkit-mask-size: 100% auto;
            mask-size: 100% auto;
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
  }

  .form__caption {
    font-size: 2.5rem;
  }
}

@media (any-hover: hover) {
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    color: #4770ff;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #f5c115;
  }

  .form__privacy-link:hover {
    text-decoration: none;
  }

  .form__instructor-phone:hover {
    color: #f7ce46;
  }

  .form__spoller-btn:hover::before {
    background: #1448ff;
  }

  .toggler__btn:hover {
    color: #0055ff;
  }

  .option__btn:hover {
    background: #4770ff;
    color: #fff;
  }

  .checkbox__content a:hover {
    text-decoration: none;
  }

  .header__language:hover {
    color: #f7ce46;
  }

  .header__location:hover {
    color: #f7ce46;
  }

  .header__catalog:hover {
    background: #f5c115;
  }

  .header__action:hover {
    background: #f7ce46;
    color: #1d1d1d;
  }

  .header__phone:hover {
    color: #f7ce46;
  }

  .footer__terms-link:hover {
    text-decoration: none;
  }

  .footer__contacts-link:hover {
    color: #f7ce46;
  }

  .footer__menu-link:hover {
    color: #f7ce46;
  }
}