.footer {
	background: $darkBg;
	color: $white;
	padding: 2.5rem 0 1.88rem;
	display: none;
	@media (min-width: $md5) {
		display: block;
	}
	@media (min-width: $md2) {
		padding: 2rem 0;
	}
	// .footer__container
	&__container {
	}
	// .footer__logo
	&__logo {
		display: block;
		margin-bottom: 0.45rem;
		@media (min-width: $md2) {
			margin-bottom: 0;
		}
	}
	// .footer__caption
	&__caption {
		font-size: 1rem;
		font-weight: 600;
		margin-bottom: 1.25rem;
	}
	// .footer__menu
	&__menu {
		margin-top: 1.25rem;
	}
	// .footer__menu-list
	&__menu-list {
	}
	// .footer__menu-item
	&__menu-item {
		&:not(:last-child) {
			margin-bottom: 0.35rem;
		}
	}
	// .footer__menu-link
	&__menu-link {
		font-size: 0.8125rem;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $yellow;
			}
		}
	}
	// .footer__contacts
	&__contacts {
		display: flex;
		flex-direction: column;
	}
	// .footer__worktime
	&__worktime {
		font-size: 0.8125rem;
	}
	// .footer__link
	&__link {
		margin-top: 0.63rem;
		font-size: 0.8125rem;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $yellow;
			}
		}
	}
	// .footer__bottom
	&__bottom {
		margin-top: 1.25rem;
		display: flex;
		gap: 2rem;
		@media (min-width: $md2) {
			gap: 4rem;
		}
	}
	// .footer__hint
	&__hint {
		font-size: 0.8125rem;
	}
	// .footer__payments
	&__payments {
		display: flex;
		gap: 2.5rem;
		flex-shrink: 0;
	}
	// .footer__payment
	&__payment {
	}
}
