.header {
	position: relative;
	padding: rem(20) 0;
	@media (min-width: $md5) {
		padding: rem(30) 0;
	}
	background: $white;
	&.header_shadow {
		box-shadow: 0 rem(4) rem(15) 0 rgba(0, 0, 0, 0.05);
	}
	&.header_about {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;
		background: transparent;
		color: $white;
		padding: rem(20) 0;
		.header__top {
			color: inherit;
		}
		.header__container {
			@media (max-width: $md3) {
				@media (min-width: $md5) {
					padding: 0 rem(65);
				}
			}
		}
	}
	&.open-menu {
		.about-navbar-toggler {
			display: none;
		}
	}
	// .header__container
	&__container {
	}
	// .header__top
	&__top {
		display: flex;
		align-items: center;
		color: $darkBlue;
		row-gap: 1rem;
		justify-content: space-between;
		font-weight: 600;
		font-size: 0.75rem;
		gap: 0.63rem;
		@media (min-width: $md5) {
			font-weight: 400;
			font-size: 0.875rem;
			justify-content: flex-start;
		}
		@media (min-width: $md3) {
			flex-wrap: wrap;
		}
	}
	// .header__request
	&__request {
		margin-left: auto;
		&.btn-rounded {
			padding: 0.75rem 1.25rem;
			.icon-arrow-short {
				width: 1.875rem;
				height: 1.875rem;
				font-size: 1.25rem;
			}
			font-size: 0.75rem;
			@media (min-width: $md5) {
				font-size: 1rem;
			}
		}
	}
	// .header__language
	&__language {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		padding-left: 1.5rem;
		position: relative;
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 1rem;
			height: 1rem;
			flex-shrink: 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .header__location
	&__location {
		position: relative;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		text-overflow: ellipsis;
		align-items: center;
		overflow: hidden;
		gap: 0.5rem;
		padding-left: 1.5rem;
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 1rem;
			height: 1rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .header__currency
	&__currency {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		white-space: nowrap;
		&::before {
			width: 1rem;
			height: 1rem;
			flex-shrink: 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		@media (min-width: $md5) {
			margin-right: auto;
		}
	}
	// .header__menu
	&__menu {
	}
	// .header__menu-btn
	&__menu-btn {
		&.icon-menu {
			@media (min-width: $md3) {
				display: none;
			}
			&.menu-toggler {
				@media (max-width: $md5) {
					display: none;
				}
			}
		}
	}
	// .header__body
	&__body {
		position: relative;
		display: flex;
		align-items: center;
		gap: rem(20);
		margin-top: rem(24);
		@media (min-width: $md3) {
			margin-top: rem(34);
		}
	}
	// .header__logo
	&__logo {
	}
	// .header__catalog
	&__catalog {
		display: none;
		@media (min-width: $md4) {
			border-radius: 0.3125rem;
			background: $yellow;
			color: $dark;
			display: flex;
			align-items: center;
			text-align: center;
			gap: 0.62rem;
			font-size: 0.875rem;
			font-weight: 600;
			padding: 0.69rem 1rem;
			transition: background-color 0.3s ease 0s;
			&::before {
				font-size: 1rem;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				background: $yellowSecond;
			}
		}
		&.active {
			.header__catalog-icon {
				& span {
					transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
					& svg {
						transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
					}
					&:first-child {
						transform: translate3d(0, rem(10), -1px);
						@media (min-width: $md5) {
							transform: translate3d(0, rem(6), -1px);
						}
						& svg {
							transform: rotate(-135deg);
						}
					}
					&:nth-child(2) {
						opacity: 0;
					}
					&:nth-child(3) {
						transform: translate3d(0, rem(-10), -1px);
						@media (min-width: $md5) {
							transform: translate3d(0, rem(-6), -1px);
						}
						& svg {
							transform: rotate(-225deg);
						}
					}
				}
			}
		}
	}
	// .header__catalog-icon
	&__catalog-icon {
		flex-shrink: 0;
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-end;
		justify-content: center;
		padding: 0;
		min-width: rem(20);
		max-width: rem(20);
		z-index: 11;
		order: -1;
		pointer-events: none;
		backface-visibility: hidden;
		& span {
			display: block;
			padding: rem(4) rem(0);
			@media (min-width: $md5) {
				padding: rem(2) rem(0);
			}

			width: 100%;
			transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
			will-change: transform;
			backface-visibility: hidden;
			pointer-events: none;
			& svg {
				display: block;
				height: 2px;
				width: 100%;
				margin-left: auto;
				transition: transform 0.3s ease 0s;
				will-change: transform;
				backface-visibility: hidden;
			}
		}
	}
	// .header__search
	&__search {
		display: none;
		@media (min-width: $md3) {
			flex: 1 1 auto;
			display: flex;
		}
	}
	// .header__actions
	&__actions {
	}
	// .header__action
	&__action {
	}
	// .header__action-quantity
	&__action-quantity {
	}
	// .header__phone
	&__phone {
		margin-left: auto;
		@media (min-width: $md5) {
			margin-left: 0;
		}
		font-family: $font-din;
		font-weight: 700;
		white-space: nowrap;
		line-height: 100%;
		transition: color 0.3s ease 0s;
		font-size: 1.125rem;
		@media (min-width: $md1) {
			font-size: 1.5rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $yellow;
			}
		}
	}
}

.actions {
	border-top: rem(1) solid $darkStroke;
	display: flex;
	justify-content: space-between;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 6;
	background: $darkBg;
	color: $grayStroke;
	padding: 1.3rem 1rem;

	@media (min-width: $md5) {
		gap: 0.63rem;
		position: static;
		margin-left: auto;
		border-top: 0;
		bottom: auto;
		left: auto;
		width: auto;
		z-index: 0;
		color: inherit;
		background: transparent;
		padding: 0;
	}
	// .actions__item
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: rem(10);
		&.menu-toggler {
			order: -3;

			color: $yellow;
		}
		&.icon-user {
			@media (max-width: $md5) {
				order: -2;
			}
		}
		&.icon-star {
			@media (max-width: $md5) {
				order: -1;
			}
		}
		&::before {
			color: $yellow;
			font-size: 2rem;
			@media (min-width: $md5) {
				font-size: 1rem;
				color: $darkBlue;
			}
		}
		@media (min-width: $md5) {
			flex-shrink: 0;
			width: 2.375rem;
			height: 2.375rem;
			border-radius: 0.3125rem;
			border: rem(1) solid $yellow;
			background: $white;
			color: $darkBlue;
			position: relative;
			transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				@media (min-width: $md5) {
					background: $yellow;
					color: $dark;
				}
			}
		}
		&.search-btn-toggler {
			@media (min-width: $md3) {
				display: none;
			}
			&.active {
				background: $yellow;
			}
		}
		&.icon-dialog {
			position: relative;
		}
		@media (max-width: $md5) {
			flex: 0 0 25%;
			&.open-menu-mobile {
				display: none;
			}
			.header.open-menu & {
				&.open-menu-mobile {
					display: flex;
				}
				&:not(.open-menu-mobile, .menu-toggler) {
					display: none;
				}
			}
		}
	}
	// .actions__item-quantity
	&__item-quantity {
		position: absolute;
		top: -0.66rem;
		right: 0rem;
		padding: em(0.37, 0.625);
		@media (min-width: $md5) {
			padding: em(0.19, 0.625);
			bottom: -0.56rem;
			right: -0.56rem;
			top: auto;
		}
		color: $white;
		text-align: center;
		border-radius: 0.3125rem;
		background: $green;
		font-size: 0.625rem;
		font-weight: 500;
		text-transform: uppercase;
	}
	// .actions__item-desc
	&__item-desc {
		color: $grayStroke;
		font-size: 0.75rem;
		font-weight: 600;
		@media (min-width: $md5) {
			display: none;
		}
	}
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-height: 100vh;
	opacity: 0;
	visibility: hidden;
	background: #2b2b2b;
	color: $white;
	padding: 2.5rem 1rem rem(120);
	z-index: 6;
	overflow-x: hidden;
	overflow-y: auto;
	transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
	display: flex;
	flex-direction: column;
	align-items: center;
	scrollbar-gutter: stable;
	.header.open-menu & {
		opacity: 1;
		visibility: visible;
		@media (min-width: $md3) {
			// transform: none;
			opacity: 1;
			visibility: visible;
		}
	}
	@media (min-width: $md3) {
		position: static;
		top: auto;
		left: auto;
		width: auto;
		height: auto;
		padding: 0;
		transition: none;
		overflow-x: visible;
		overflow-y: visible;
		display: flex;
		align-items: center;
		background: none;
		transform: none;
		opacity: 1;
		visibility: visible;
		color: inherit;
	}
	&__logo {
		@media (min-width: $md3) {
			display: none;
		}
	}
	&__phone {
		margin-top: 1.25rem;
		color: $yellow;
		text-align: center;
		font-family: $font-din;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 100%;
		@media (min-width: $md3) {
			display: none;
		}
	}
	// .menu__navbar
	&__navbar {
		margin-top: 1.88rem;
		width: 100%;
		@media (min-width: $md3) {
			margin-top: 0;
		}
	}
	// .menu__list
	&__list {
		display: flex;
		flex-direction: column;
		font-size: 1.125rem;
		border-top: rem(1) solid $darkStroke;
		@media (min-width: $md3) {
			border-top: 0;
			align-items: flex-start;
			font-size: 0.875rem;
			gap: 1rem;
			align-items: center;
			flex-direction: row;
		}
	}
	// .menu__item
	&__item {
		@media (max-width: $md3) {
			border-bottom: rem(1) solid $darkStroke;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}
	}
	&__arrow {
		width: 2.5rem;
		height: 1.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (min-width: $md3) {
			display: none;
		}
		&::before {
			transition: transform 0.3s ease 0s;
			transform: rotate(90deg);
		}
		&.active {
			&::before {
				transform: rotate(-90deg);
			}
		}
	}
	// .menu__link
	&__link {
		display: block;
		position: relative;
		padding: 1.25rem 0.63rem;
		@media (max-width: $md3) {
			flex: 0 0 calc(100% - 2.5rem);
			&:last-child {
				flex: 0 0 100%;
			}
		}
		@media (min-width: $md3) {
			padding: 0;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
		&:active {
			color: inherit;
			&::before {
				width: 100%;
			}
		}
		&.active {
			color: $dark;
			@media (min-width: $md3) {
				color: inherit;
			}
			&::before {
				width: 100%;
			}
		}
	}
}

.submenu {
	border-top: rem(1) solid $darkStroke;
	display: none;
	flex: 0 0 100%;
	@media (min-width: $md3) {
		display: none !important;
	}
	color: $white;
	font-size: 0.875rem;
	font-weight: 600;
	// .submenu__item
	&__item {
		border-bottom: rem(1) solid $darkStroke;
	}
	// .submenu__link
	&__link {
		display: flex;
		align-items: center;
		gap: 0.62rem;
		padding: 1.25rem 0.62rem;
	}
}

.icon-menu {
	flex-shrink: 0;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-end;
	justify-content: center;
	padding: 0;
	min-width: rem(24);
	z-index: 11;
	@media (min-width: $md5) {
		height: rem(24);
		margin-left: auto;
		order: 1;
		margin-left: 1.5rem;
	}

	& span {
		display: block;
		padding: rem(4) rem(0);
		@media (min-width: $md5) {
			padding: rem(2) rem(0);
		}
		width: 100%;
		transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
		will-change: contents;
		pointer-events: none;
		&::before {
			content: "";
			display: block;
			height: rem(2);
			width: 100%;
			margin-left: auto;
			background: currentColor;
			transition: transform 0.3s ease 0s;
			will-change: contents;
		}
	}
	.header.open-menu & {
		& span {
			transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
			&::before {
				transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;

				@media (min-width: $md5) {
					background: $white;
				}
			}
			&:first-child {
				transform: translateY(rem(10));
				@media (min-width: $md5) {
					transform: translateY(rem(6));
				}
				&::before {
					transform: rotate(-135deg);
				}
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(rem(-10));
				@media (min-width: $md5) {
					transform: translateY(rem(-6));
				}
				&::before {
					transform: rotate(-225deg);
				}
			}
		}
	}
}

.goods-catalog {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 6;
	display: none;
	border-bottom: rem(1) solid $grayStroke;
	padding: rem(20) 0;
	max-height: calc(100vh - 100%);
	overflow-y: auto;
	@media (min-width: $md5) {
		padding: rem(30) 0;
	}
	// .goods-catalog__container
	&__container {
		display: flex;
		gap: rem(20);
		flex-direction: column;
		@media (min-width: $md3) {
			align-items: flex-start;
			flex-direction: row;
		}
	}
	// .goods-catalog__sidebar
	&__sidebar {
		order: 1;
		border-radius: 0.3125rem;
		padding: 1.88rem;
		border: rem(1) solid $grayStroke;
		@media (min-width: $md3) {
			padding: 0;
			border: 0;
			border-radius: 0;
			flex: 0 0 rem(260);
			order: 0;
			position: sticky;
			top: 1rem;
		}
	}
	// .goods-catalog__sidebar-list
	&__sidebar-list {
		& + .banners__item {
			margin-top: rem(20);
		}
	}
	// .goods-catalog__sidebar-item
	&__sidebar-item {
		&:not(:last-child) {
			margin-bottom: 1.88rem;
			@media (min-width: $md3) {
				margin-bottom: 0.94rem;
			}
		}
	}
	// .goods-catalog__sidebar-link
	&__sidebar-link {
		display: flex;
		align-items: center;
		gap: 0.63rem;
		color: $darkBlue;
		transition: color 0.3s ease 0s;
		font-size: 0.8125rem;
		&::before {
			order: 1;
			@extend %ic, .icon-plus;
			font-size: 1.5rem;
			margin-left: auto;
			flex-shrink: 0;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $darkBlue;
				&::before {
					color: $darkBlue;
				}
				.goods-catalog__sidebar-text {
					font-weight: 600;
					color: $blue;
					text-decoration: underline;
				}
			}
		}
		&.active {
			color: $darkBlue;
			.goods-catalog__sidebar-main {
				&::before {
					color: $darkBlue;
				}
			}
			.goods-catalog__sidebar-text {
				@media (min-width: $md3) {
					font-weight: 600;
					text-decoration: underline;
				}
			}
			&::before {
				@extend %ic, .icon-minus;
			}
		}
	}
	// .goods-catalog__sidebar-main
	&__sidebar-main {
		@media (min-width: $md3) {
			position: relative;
			padding-left: 2rem;
		}
		&::before {
			display: none;
			@media (min-width: $md3) {
				width: 1.25rem;
				height: 1.25rem;
				font-size: 1.25rem;
				display: flex;
				justify-content: center;
				align-items: center;
				color: $lightBlue;
				transition: color 0.3s ease 0s;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
		}
	}
	// .goods-catalog__sidebar-text
	&__sidebar-text {
		font-size: 1.125rem;
		font-weight: 700;
		font-family: $font-din;
		@media (min-width: $md3) {
			font-family: $fontfamily;
			font-weight: 400;
			font-size: 0.8125rem;
		}
	}
	// .goods-catalog__sidebar-quantity
	&__sidebar-quantity {
		color: $lightBlue;
		font-size: 0.8125rem;
	}
	// .goods-catalog__sidebar-categories
	&__sidebar-categories {
		margin-top: 1.25rem;
		display: none;
		&.initial-block {
			display: block;
		}
	}
	// .goods-catalog__sidebar-category
	&__sidebar-category {
		&:not(:last-child) {
			margin-bottom: 1.25rem;
		}
		font-size: 0.875rem;
		@media (min-width: $md3) {
			padding-left: 2rem;
			font-size: 0.75rem;
			&:not(:last-child) {
				margin-bottom: 0.75rem;
			}
		}
		& a {
			color: $darkBlue;

			@media (any-hover: hover) {
				&:hover {
					color: $blue;
					text-decoration: underline;
				}
			}
		}
	}
	// .goods-catalog__content
	&__content {
		display: flex;
		flex-direction: column;
		&.goods__content_lg {
			@media (max-width: $md3) {
				display: contents;
				.banners__item {
					order: -1;
				}
			}
		}
		@media (min-width: $md3) {
			flex: 1 1 auto;
			&:not(:first-child) {
				padding-left: rem(20);
				border-left: rem(1) solid $grayStroke;
			}
		}
	}
	// .goods-catalog__categories
	&__categories {
		@media (min-width: $md3) {
			margin-top: 1.88rem;
		}
	}
	// .goods-catalog__category
	&__category {
		&:not(:last-child) {
			margin-bottom: 1.88rem;
		}
		@media (min-width: $md3) {
			&:not(:last-child) {
				margin-bottom: 0;
			}
		}
		display: none;
		&.active {
			display: block;
		}
	}
	// .goods-catalog__title
	&__title {
		font-family: $font-din;
		font-weight: 700;
		line-height: 100%;
		font-size: 1.5rem;
		display: flex;
		@media (min-width: $md3) {
			color: $darkBlue;
			color: $dark;
		}
		& a {
			@media (any-hover: hover) {
				&:hover {
					color: $blue;
					text-decoration: underline;
				}
			}
		}
	}
	// .goods-catalog__body
	&__body {
		margin-top: 1.88rem;

		.row {
			--gutter-y: 1.88rem;
		}
	}
	// .goods-catalog__caption
	&__caption {
		color: $dark;
		font-size: 0.875rem;
		font-weight: 600;
		& a {
			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline;
					color: $blue;
				}
			}
		}
	}
	// .goods-catalog__list
	&__list {
		margin-top: 1.25rem;

		&:not(.active) {
			.goods-catalog__item:not(:nth-child(1), :nth-child(2), :nth-child(3), :nth-child(4), :nth-child(5)) {
				display: none;
			}
		}
	}
	// .goods-catalog__item
	&__item {
		color: $darkBlue;
		font-size: 0.8125rem;
		&:not(:last-child) {
			margin-bottom: 0.62rem;
		}
	}
	// .goods-catalog__item-link
	&__item-link {
		display: flex;
		align-items: center;
		gap: 0.62rem;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $blue;
				& .goods-catalog__item-text {
					text-decoration: underline;
				}
			}
		}
	}
	// .goods-catalog__item-text
	&__item-text {
	}
	// .goods-catalog__item-quantity
	&__item-quantity {
		color: $lightBlue;
		font-size: 0.75rem;
		font-weight: 500;
	}
	// .goods-catalog__more
	&__more {
		margin-top: 1.25rem;
		color: $blue;
		display: inline-block;
		font-size: 0.8125rem;
		text-decoration: underline;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	// .goods-catalog__products
	&__products {
		flex: 0 0 rem(230);
		display: flex;
		flex-direction: column;
		gap: rem(20);
	}
}
