%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	speak: never;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

.icon-clock:before {
	content: "\e931";
}
.icon-bag:before {
	content: "\e927";
}
.icon-dialog:before {
	content: "\e928";
}
.icon-user-edit:before {
	content: "\e929";
}
.icon-users:before {
	content: "\e92a";
}
.icon-messages:before {
	content: "\e92b";
}
.icon-logout:before {
	content: "\e92c";
}
.icon-devices:before {
	content: "\e92d";
}
.icon-dotts:before {
	content: "\e92e";
}
.icon-message:before {
	content: "\e92f";
}
.icon-lock:before {
	content: "\e930";
}
.icon-calendar:before {
	content: "\e926";
}
.icon-copy:before {
	content: "\e925";
}
.icon-cake:before {
	content: "\e924";
}
.icon-minus-circle:before {
	content: "\e922";
}
.icon-plus-circle:before {
	content: "\e923";
}
.icon-minus:before {
	content: "\e91e";
}
.icon-plus:before {
	content: "\e91f";
}
.icon-attach:before {
	content: "\e921";
}
.icon-info:before {
	content: "\e920";
}
.icon-mail:before {
	content: "\e91c";
}
.icon-phone:before {
	content: "\e91d";
}
.icon-filter:before {
	content: "\e91b";
}
.icon-arrow-left:before {
	content: "\e919";
}
.icon-home:before {
	content: "\e91a";
}
.icon-check:before {
	content: "\e918";
}
.icon-grid:before {
	content: "\e916";
}
.icon-rows:before {
	content: "\e917";
}
.icon-catalog:before {
	content: "\e915";
}
.icon-play:before {
	content: "\e914";
}
.icon-doc:before {
	content: "\e913";
}
.icon-chevron:before {
	content: "\e90b";
}
.icon-close:before {
	content: "\e90a";
}
.icon-telegram:before {
	content: "\e910";
}
.icon-whatsapp:before {
	content: "\e911";
}
.icon-tick-circle:before {
	content: "\e912";
}
.icon-edit:before {
	content: "\e90e";
}
.icon-box:before {
	content: "\e90f";
}
.icon-burger:before {
	content: "\e90d";
}
.icon-arrow-short:before {
	content: "\e90c";
}
.icon-eye:before {
	content: "\e909";
}
.icon-arrow:before {
	content: "\e900";
}
.icon-cart:before {
	content: "\e901";
}
.icon-compare:before {
	content: "\e902";
}
.icon-currency:before {
	content: "\e903";
}
.icon-globe:before {
	content: "\e904";
}
.icon-location:before {
	content: "\e905";
}
.icon-search:before {
	content: "\e906";
}
.icon-star:before {
	content: "\e907";
}
.icon-user:before {
	content: "\e908";
}
